$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(250,0,0)',rgb(250,0,0);
$c:'rgb(242,13,13)',rgb(242,13,13);
$c:'rgb(230,26,26)',rgb(230,26,26);
$c:'rgb(217,38,38)',rgb(217,38,38);
$c:'rgb(204,51,51)',rgb(204,51,51);
$c:'rgb(191,64,64)',rgb(191,64,64);
$c:'rgb(179,77,77)',rgb(179,77,77);
$c:'rgb(166,89,89)',rgb(166,89,89);
$c:'rgb(153,102,102)',rgb(153,102,102);
$c:'rgb(140,115,115)',rgb(140,115,115);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(255,89,9)',rgb(255,89,9);
$c:'rgb(242,94,13)',rgb(242,94,13);
$c:'rgb(230,97,26)',rgb(230,97,26);
$c:'rgb(217,101,38)',rgb(217,101,38);
$c:'rgb(204,105,51)',rgb(204,105,51);
$c:'rgb(191,109,64)',rgb(191,109,64);
$c:'rgb(179,112,77)',rgb(179,112,77);
$c:'rgb(166,116,89)',rgb(166,116,89);
$c:'rgb(153,120,102)',rgb(153,120,102);
$c:'rgb(140,124,115)',rgb(140,124,115);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(255,179,0)',rgb(255,179,0);
$c:'rgb(242,175,13)',rgb(242,175,13);
$c:'rgb(230,169,26)',rgb(230,169,26);
$c:'rgb(217,164,38)',rgb(217,164,38);
$c:'rgb(204,159,51)',rgb(204,159,51);
$c:'rgb(191,154,64)',rgb(191,154,64);
$c:'rgb(179,148,77)',rgb(179,148,77);
$c:'rgb(166,143,89)',rgb(166,143,89);
$c:'rgb(153,138,102)',rgb(153,138,102);
$c:'rgb(140,133,115)',rgb(140,133,115);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(242,255,0)',rgb(242,255,0);
$c:'rgb(229,242,13)',rgb(229,242,13);
$c:'rgb(218,230,26)',rgb(218,230,26);
$c:'rgb(206,217,38)',rgb(206,217,38);
$c:'rgb(195,204,51)',rgb(195,204,51);
$c:'rgb(184,191,64)',rgb(184,191,64);
$c:'rgb(173,179,77)',rgb(173,179,77);
$c:'rgb(161,166,89)',rgb(161,166,89);
$c:'rgb(150,153,102)',rgb(150,153,102);
$c:'rgb(139,140,115)',rgb(139,140,115);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(149,255,0)',rgb(149,255,0);
$c:'rgb(148,242,13)',rgb(148,242,13);
$c:'rgb(146,230,26)',rgb(146,230,26);
$c:'rgb(143,217,38)',rgb(143,217,38);
$c:'rgb(141,204,51)',rgb(141,204,51);
$c:'rgb(139,191,64)',rgb(139,191,64);
$c:'rgb(137,179,77)',rgb(137,179,77);
$c:'rgb(134,166,89)',rgb(134,166,89);
$c:'rgb(132,153,102)',rgb(132,153,102);
$c:'rgb(130,140,115)',rgb(130,140,115);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(59,255,0)',rgb(59,255,0);
$c:'rgb(67,242,13)',rgb(67,242,13);
$c:'rgb(74,230,26)',rgb(74,230,26);
$c:'rgb(80,217,38)',rgb(80,217,38);
$c:'rgb(87,204,51)',rgb(87,204,51);
$c:'rgb(94,191,64)',rgb(94,191,64);
$c:'rgb(101,179,77)',rgb(101,179,77);
$c:'rgb(107,166,89)',rgb(107,166,89);
$c:'rgb(114,153,102)',rgb(114,153,102);
$c:'rgb(121,140,115)',rgb(121,140,115);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(0,255,30)',rgb(0,255,30);
$c:'rgb(13,242,40)',rgb(13,242,40);
$c:'rgb(26,230,49)',rgb(26,230,49);
$c:'rgb(38,217,59)',rgb(38,217,59);
$c:'rgb(51,204,69)',rgb(51,204,69);
$c:'rgb(64,191,79)',rgb(64,191,79);
$c:'rgb(77,179,88)',rgb(77,179,88);
$c:'rgb(89,166,98)',rgb(89,166,98);
$c:'rgb(102,153,108)',rgb(102,153,108);
$c:'rgb(115,140,118)',rgb(115,140,118);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(0,255,119)',rgb(0,255,119);
$c:'rgb(13,242,121)',rgb(13,242,121);
$c:'rgb(26,230,121)',rgb(26,230,121);
$c:'rgb(38,217,122)',rgb(38,217,122);
$c:'rgb(51,204,123)',rgb(51,204,123);
$c:'rgb(64,191,124)',rgb(64,191,124);
$c:'rgb(77,179,124)',rgb(77,179,124);
$c:'rgb(89,166,125)',rgb(89,166,125);
$c:'rgb(102,153,126)',rgb(102,153,126);
$c:'rgb(115,140,127)',rgb(115,140,127);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(0,255,208)',rgb(0,255,208);
$c:'rgb(13,242,201)',rgb(13,242,201);
$c:'rgb(26,230,193)',rgb(26,230,193);
$c:'rgb(38,217,185)',rgb(38,217,185);
$c:'rgb(51,204,177)',rgb(51,204,177);
$c:'rgb(64,191,169)',rgb(64,191,169);
$c:'rgb(77,179,160)',rgb(77,179,160);
$c:'rgb(89,166,152)',rgb(89,166,152);
$c:'rgb(102,153,144)',rgb(102,153,144);
$c:'rgb(115,140,136)',rgb(115,140,136);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(0,212,255)',rgb(0,212,255);
$c:'rgb(13,202,242)',rgb(13,202,242);
$c:'rgb(26,194,230)',rgb(26,194,230);
$c:'rgb(38,185,217)',rgb(38,185,217);
$c:'rgb(51,177,204)',rgb(51,177,204);
$c:'rgb(64,169,191)',rgb(64,169,191);
$c:'rgb(77,161,179)',rgb(77,161,179);
$c:'rgb(89,152,166)',rgb(89,152,166);
$c:'rgb(102,144,153)',rgb(102,144,153);
$c:'rgb(115,136,140)',rgb(115,136,140);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(0,119,255)',rgb(0,119,255);
$c:'rgb(13,121,242)',rgb(13,121,242);
$c:'rgb(26,122,230)',rgb(26,122,230);
$c:'rgb(38,123,217)',rgb(38,123,217);
$c:'rgb(51,123,204)',rgb(51,123,204);
$c:'rgb(64,124,191)',rgb(64,124,191);
$c:'rgb(77,125,179)',rgb(77,125,179);
$c:'rgb(89,125,166)',rgb(89,125,166);
$c:'rgb(102,126,153)',rgb(102,126,153);
$c:'rgb(115,127,140)',rgb(115,127,140);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(0,30,255)',rgb(0,30,255);
$c:'rgb(13,40,242)',rgb(13,40,242);
$c:'rgb(26,50,230)',rgb(26,50,230);
$c:'rgb(38,60,217)',rgb(38,60,217);
$c:'rgb(51,69,204)',rgb(51,69,204);
$c:'rgb(64,79,191)',rgb(64,79,191);
$c:'rgb(77,89,179)',rgb(77,89,179);
$c:'rgb(89,98,166)',rgb(89,98,166);
$c:'rgb(102,108,153)',rgb(102,108,153);
$c:'rgb(115,118,140)',rgb(115,118,140);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(60,0,255)',rgb(60,0,255);
$c:'rgb(66,13,242)',rgb(66,13,242);
$c:'rgb(73,26,230)',rgb(73,26,230);
$c:'rgb(80,38,217)',rgb(80,38,217);
$c:'rgb(87,51,204)',rgb(87,51,204);
$c:'rgb(94,64,191)',rgb(94,64,191);
$c:'rgb(100,77,179)',rgb(100,77,179);
$c:'rgb(107,89,166)',rgb(107,89,166);
$c:'rgb(114,102,153)',rgb(114,102,153);
$c:'rgb(121,115,140)',rgb(121,115,140);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(149,0,255)',rgb(149,0,255);
$c:'rgb(147,13,242)',rgb(147,13,242);
$c:'rgb(145,26,230)',rgb(145,26,230);
$c:'rgb(143,38,217)',rgb(143,38,217);
$c:'rgb(141,51,204)',rgb(141,51,204);
$c:'rgb(139,64,191)',rgb(139,64,191);
$c:'rgb(136,77,179)',rgb(136,77,179);
$c:'rgb(134,89,166)',rgb(134,89,166);
$c:'rgb(132,102,153)',rgb(132,102,153);
$c:'rgb(130,115,140)',rgb(130,115,140);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(238,0,255)',rgb(238,0,255);
$c:'rgb(228,13,242)',rgb(228,13,242);
$c:'rgb(217,26,230)',rgb(217,26,230);
$c:'rgb(206,38,217)',rgb(206,38,217);
$c:'rgb(195,51,204)',rgb(195,51,204);
$c:'rgb(183,64,191)',rgb(183,64,191);
$c:'rgb(172,77,179)',rgb(172,77,179);
$c:'rgb(161,89,166)',rgb(161,89,166);
$c:'rgb(150,102,153)',rgb(150,102,153);
$c:'rgb(139,115,140)',rgb(139,115,140);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(255,0,178)',rgb(255,0,178);
$c:'rgb(242,13,175)',rgb(242,13,175);
$c:'rgb(230,26,170)',rgb(230,26,170);
$c:'rgb(217,38,165)',rgb(217,38,165);
$c:'rgb(204,51,159)',rgb(204,51,159);
$c:'rgb(191,64,154)',rgb(191,64,154);
$c:'rgb(179,77,149)',rgb(179,77,149);
$c:'rgb(166,89,143)',rgb(166,89,143);
$c:'rgb(153,102,138)',rgb(153,102,138);
$c:'rgb(140,115,133)',rgb(140,115,133);
$c: 'https://affinity.serif.com',toogle view and resize ui to arrange the colors;
$c:'rgb(255,0,89)',rgb(255,0,89);
$c:'rgb(242,13,94)',rgb(242,13,94);
$c:'rgb(230,26,98)',rgb(230,26,98);
$c:'rgb(217,38,102)',rgb(217,38,102);
$c:'rgb(204,51,105)',rgb(204,51,105);
$c:'rgb(191,64,109)',rgb(191,64,109);
$c:'rgb(179,77,113)',rgb(179,77,113);
$c:'rgb(166,89,116)',rgb(166,89,116);
$c:'rgb(153,102,120)',rgb(153,102,120);
$c:'rgb(140,115,124)',rgb(140,115,124);