$c: 'AliceBlue', AliceBlue;
$c: 'AntiqueWhite', AntiqueWhite;
$c: 'Aqua', Aqua;
$c: 'Aquamarine', Aquamarine;
$c: 'Azure', Azure;
$c: 'Beige', Beige;
$c: 'Bisque', Bisque;
$c: 'Black', Black;
$c: 'BlanchedAlmond', BlanchedAlmond;
$c: 'Blue', Blue;
$c: 'BlueViolet', BlueViolet;
$c: 'Brown', Brown;
$c: 'BurlyWood', BurlyWood;
$c: 'CadetBlue', CadetBlue;
$c: 'Chartreuse', Chartreuse;
$c: 'Chocolate', Chocolate;
$c: 'Coral', Coral;
$c: 'CornflowerBlue', CornflowerBlue;
$c: 'Cornsilk', Cornsilk;
$c: 'Crimson', Crimson;
$c: 'Cyan', Cyan;
$c: 'DarkBlue', DarkBlue;
$c: 'DarkCyan', DarkCyan;
$c: 'DarkGoldenRod', DarkGoldenRod;
$c: 'DarkGray', DarkGray;
$c: 'DarkGrey', DarkGrey;
$c: 'DarkGreen', DarkGreen;
$c: 'DarkKhaki', DarkKhaki;
$c: 'DarkMagenta', DarkMagenta;
$c: 'DarkOliveGreen', DarkOliveGreen;
$c: 'Darkorange', Darkorange;
$c: 'DarkOrchid', DarkOrchid;
$c: 'DarkRed', DarkRed;
$c: 'DarkSalmon', DarkSalmon;
$c: 'DarkSeaGreen', DarkSeaGreen;
$c: 'DarkSlateBlue', DarkSlateBlue;
$c: 'DarkSlateGray', DarkSlateGray;
$c: 'DarkSlateGrey', DarkSlateGrey;
$c: 'DarkTurquoise', DarkTurquoise;
$c: 'DarkViolet', DarkViolet;
$c: 'DeepPink', DeepPink;
$c: 'DeepSkyBlue', DeepSkyBlue;
$c: 'DimGray', DimGray;
$c: 'DimGrey', DimGrey;
$c: 'DodgerBlue', DodgerBlue;
$c: 'FireBrick', FireBrick;
$c: 'FloralWhite', FloralWhite;
$c: 'ForestGreen', ForestGreen;
$c: 'Fuchsia', Fuchsia;
$c: 'Gainsboro', Gainsboro;
$c: 'GhostWhite', GhostWhite;
$c: 'Gold', Gold;
$c: 'GoldenRod', GoldenRod;
$c: 'Gray', Gray;
$c: 'Grey', Grey;
$c: 'Green', Green;
$c: 'GreenYellow', GreenYellow;
$c: 'HoneyDew', HoneyDew;
$c: 'HotPink', HotPink;
$c: 'IndianRed', IndianRed;
$c: 'Indigo', Indigo;
$c: 'Ivory', Ivory;
$c: 'Khaki', Khaki;
$c: 'Lavender', Lavender;
$c: 'LavenderBlush', LavenderBlush;
$c: 'LawnGreen', LawnGreen;
$c: 'LemonChiffon', LemonChiffon;
$c: 'LightBlue', LightBlue;
$c: 'LightCoral', LightCoral;
$c: 'LightCyan', LightCyan;
$c: 'LightGoldenRodYellow', LightGoldenRodYellow;
$c: 'LightGray', LightGray;
$c: 'LightGrey', LightGrey;
$c: 'LightGreen', LightGreen;
$c: 'LightPink', LightPink;
$c: 'LightSalmon', LightSalmon;
$c: 'LightSeaGreen', LightSeaGreen;
$c: 'LightSkyBlue', LightSkyBlue;
$c: 'LightSlateGray', LightSlateGray;
$c: 'LightSlateGrey', LightSlateGrey;
$c: 'LightSteelBlue', LightSteelBlue;
$c: 'LightYellow', LightYellow;
$c: 'Lime', Lime;
$c: 'LimeGreen', LimeGreen;
$c: 'Linen', Linen;
$c: 'Magenta', Magenta;
$c: 'Maroon', Maroon;
$c: 'MediumAquaMarine', MediumAquaMarine;
$c: 'MediumBlue', MediumBlue;
$c: 'MediumOrchid', MediumOrchid;
$c: 'MediumPurple', MediumPurple;
$c: 'MediumSeaGreen', MediumSeaGreen;
$c: 'MediumSlateBlue', MediumSlateBlue;
$c: 'MediumSpringGreen', MediumSpringGreen;
$c: 'MediumTurquoise', MediumTurquoise;
$c: 'MediumVioletRed', MediumVioletRed;
$c: 'MidnightBlue', MidnightBlue;
$c: 'MintCream', MintCream;
$c: 'MistyRose', MistyRose;
$c: 'Moccasin', Moccasin;
$c: 'NavajoWhite', NavajoWhite;
$c: 'Navy', Navy;
$c: 'OldLace', OldLace;
$c: 'Olive', Olive;
$c: 'OliveDrab', OliveDrab;
$c: 'Orange', Orange;
$c: 'OrangeRed', OrangeRed;
$c: 'Orchid', Orchid;
$c: 'PaleGoldenRod', PaleGoldenRod;
$c: 'PaleGreen', PaleGreen;
$c: 'PaleTurquoise', PaleTurquoise;
$c: 'PaleVioletRed', PaleVioletRed;
$c: 'PapayaWhip', PapayaWhip;
$c: 'PeachPuff', PeachPuff;
$c: 'Peru', Peru;
$c: 'Pink', Pink;
$c: 'Plum', Plum;
$c: 'PowderBlue', PowderBlue;
$c: 'Purple', Purple;
$c: 'RebeccaPurple', RebeccaPurple;
$c: 'Red', Red;
$c: 'RosyBrown', RosyBrown;
$c: 'RoyalBlue', RoyalBlue;
$c: 'SaddleBrown', SaddleBrown;
$c: 'Salmon', Salmon;
$c: 'SandyBrown', SandyBrown;
$c: 'SeaGreen', SeaGreen;
$c: 'SeaShell', SeaShell;
$c: 'Sienna', Sienna;
$c: 'Silver', Silver;
$c: 'SkyBlue', SkyBlue;
$c: 'SlateBlue', SlateBlue;
$c: 'SlateGray', SlateGray;
$c: 'SlateGrey', SlateGrey;
$c: 'Snow', Snow;
$c: 'SpringGreen', SpringGreen;
$c: 'SteelBlue', SteelBlue;
$c: 'Tan', Tan;
$c: 'Teal', Teal;
$c: 'Thistle', Thistle;
$c: 'Tomato', Tomato;
$c: 'Turquoise', Turquoise;
$c: 'Violet', Violet;
$c: 'Wheat', Wheat;
$c: 'White', White;
$c: 'WhiteSmoke', WhiteSmoke;
$c: 'Yellow', Yellow;
$c: 'YellowGreen', YellowGreen;