$c: 'Android Green', #a4c639;
$c: 'Ebay Red', #e53238;
$c: 'Ebay Blue', #0064d3;
$c: 'Ebay Yellow', #f4ae01;
$c: 'Ebay Green', #88b719;
$c: 'Facebook Blue', #3b5998;
$c: 'Google Blue', #4285f4;
$c: 'Google Red', #db4437;
$c: 'Google Yellow', #f4b400;
$c: 'Google Green', #0f9d58;
$c: 'Google Plus Red', #d34836;
$c: 'Hello Kitty Pink', #B01455;
$c: 'LikedIn Blue', #0077B5;
$c: 'Microsoft Red', #f25022;
$c: 'Microsoft Green', #7fba00;
$c: 'Microsoft Blue', #00a4ef;
$c: 'Microsoft Yellow', #ffb900;
$c: 'Microsoft Grey', #737373;
$c: 'Netflix Red', #e50914;
$c: 'Pinterest Red', #e60023;
$c: 'Quora Red', #b92b27;
$c: 'Spotify Green', #1db954;
$c: 'Stackoverflow Orange', #F48024;
$c: 'UPS Brown', #330000;
$c: 'UPS Yellow', #ffd100;
$c: 'Twitter Blue', #1da1f2;
$c: 'Youtube Red', #ff0000;