$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Red 50', #FFEBEE;
$c: 'Red 100', #FFCDD2;
$c: 'Red 200', #EF9A9A;
$c: 'Red 300', #E57373;
$c: 'Red 400', #EF5350;
$c: 'Red 500', #F44336;
$c: 'Red 600', #E53935;
$c: 'Red 700', #D32F2F;
$c: 'Red 800', #C62828;
$c: 'Red 900', #B71C1C;
$c: 'Red A100', #FF8A80;
$c: 'Red A200', #FF5252;
$c: 'Red A400', #FF1744;
$c: 'Red A700', #D50000;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Pink 50', #FCE4EC;
$c: 'Pink 100', #F8BBD0;
$c: 'Pink 200', #F48FB1;
$c: 'Pink 300', #F06292;
$c: 'Pink 400', #EC407A;
$c: 'Pink 500', #E91E63;
$c: 'Pink 600', #D81B60;
$c: 'Pink 700', #C2185B;
$c: 'Pink 800', #AD1457;
$c: 'Pink 900', #880E4F;
$c: 'Pink A100', #FF80AB;
$c: 'Pink A200', #FF4081;
$c: 'Pink A400', #F50057;
$c: 'Pink A700', #C51162;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Purple 50', #F3E5F5;
$c: 'Purple 100', #E1BEE7;
$c: 'Purple 200', #CE93D8;
$c: 'Purple 300', #BA68C8;
$c: 'Purple 400', #AB47BC;
$c: 'Purple 500', #9C27B0;
$c: 'Purple 600', #8E24AA;
$c: 'Purple 700', #7B1FA2;
$c: 'Purple 800', #6A1B9A;
$c: 'Purple 900', #4A148C;
$c: 'Purple A100', #EA80FC;
$c: 'Purple A200', #E040FB;
$c: 'Purple A400', #D500F9;
$c: 'Purple A700', #AA00FF;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Deep Purple 50', #EDE7F6;
$c: 'Deep Purple 100', #D1C4E9;
$c: 'Deep Purple 200', #B39DDB;
$c: 'Deep Purple 300', #9575CD;
$c: 'Deep Purple 400', #7E57C2;
$c: 'Deep Purple 500', #673AB7;
$c: 'Deep Purple 600', #5E35B1;
$c: 'Deep Purple 700', #512DA8;
$c: 'Deep Purple 800', #4527A0;
$c: 'Deep Purple 900', #311B92;
$c: 'Deep Purple A100', #B388FF;
$c: 'Deep Purple A200', #7C4DFF;
$c: 'Deep Purple A400', #651FFF;
$c: 'Deep Purple A700', #6200EA;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Indigo 50', #E8EAF6;
$c: 'Indigo 100', #C5CAE9;
$c: 'Indigo 200', #9FA8DA;
$c: 'Indigo 300', #7986CB;
$c: 'Indigo 400', #5C6BC0;
$c: 'Indigo 500', #3F51B5;
$c: 'Indigo 600', #3949AB;
$c: 'Indigo 700', #303F9F;
$c: 'Indigo 800', #283593;
$c: 'Indigo 900', #1A237E;
$c: 'Indigo A100', #8C9EFF;
$c: 'Indigo A200', #536DFE;
$c: 'Indigo A400', #3D5AFE;
$c: 'Indigo A700', #304FFE;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Blue 50', #E3F2FD;
$c: 'Blue 100', #BBDEFB;
$c: 'Blue 200', #90CAF9;
$c: 'Blue 300', #64B5F6;
$c: 'Blue 400', #42A5F5;
$c: 'Blue 500', #2196F3;
$c: 'Blue 600', #1E88E5;
$c: 'Blue 700', #1976D2;
$c: 'Blue 800', #1565C0;
$c: 'Blue 900', #0D47A1;
$c: 'Blue A100', #82B1FF;
$c: 'Blue A200', #448AFF;
$c: 'Blue A400', #2979FF;
$c: 'Blue A700', #2962FF;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Light Blue 50', #E1F5FE;
$c: 'Light Blue 100', #B3E5FC;
$c: 'Light Blue 200', #81D4FA;
$c: 'Light Blue 300', #4FC3F7;
$c: 'Light Blue 400', #29B6F6;
$c: 'Light Blue 500', #03A9F4;
$c: 'Light Blue 600', #039BE5;
$c: 'Light Blue 700', #0288D1;
$c: 'Light Blue 800', #0277BD;
$c: 'Light Blue 900', #01579B;
$c: 'Light Blue A100', #80D8FF;
$c: 'Light Blue A200', #40C4FF;
$c: 'Light Blue A400', #00B0FF;
$c: 'Light Blue A700', #0091EA;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Cyan 50', #E0F7FA;
$c: 'Cyan 100', #B2EBF2;
$c: 'Cyan 200', #80DEEA;
$c: 'Cyan 300', #4DD0E1;
$c: 'Cyan 400', #26C6DA;
$c: 'Cyan 500', #00BCD4;
$c: 'Cyan 600', #00ACC1;
$c: 'Cyan 700', #0097A7;
$c: 'Cyan 800', #00838F;
$c: 'Cyan 900', #006064;
$c: 'Cyan A100', #84FFFF;
$c: 'Cyan A200', #18FFFF;
$c: 'Cyan A400', #00E5FF;
$c: 'Cyan A700', #00B8D4;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Teal 50', #E0F2F1;
$c: 'Teal 100', #B2DFDB;
$c: 'Teal 200', #80CBC4;
$c: 'Teal 300', #4DB6AC;
$c: 'Teal 400', #26A69A;
$c: 'Teal 500', #009688;
$c: 'Teal 600', #00897B;
$c: 'Teal 700', #00796B;
$c: 'Teal 800', #00695C;
$c: 'Teal 900', #004D40;
$c: 'Teal A100', #A7FFEB;
$c: 'Teal A200', #64FFDA;
$c: 'Teal A400', #1DE9B6;
$c: 'Teal A700', #00BFA5;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Green 50', #E8F5E9;
$c: 'Green 100', #C8E6C9;
$c: 'Green 200', #A5D6A7;
$c: 'Green 300', #81C784;
$c: 'Green 400', #66BB6A;
$c: 'Green 500', #4CAF50;
$c: 'Green 600', #43A047;
$c: 'Green 700', #388E3C;
$c: 'Green 800', #2E7D32;
$c: 'Green 900', #1B5E20;
$c: 'Green A100', #B9F6CA;
$c: 'Green A200', #69F0AE;
$c: 'Green A400', #00E676;
$c: 'Green A700', #00C853;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Light Green 50', #F1F8E9;
$c: 'Light Green 100', #DCEDC8;
$c: 'Light Green 200', #C5E1A5;
$c: 'Light Green 300', #AED581;
$c: 'Light Green 400', #9CCC65;
$c: 'Light Green 500', #8BC34A;
$c: 'Light Green 600', #7CB342;
$c: 'Light Green 700', #689F38;
$c: 'Light Green 800', #558B2F;
$c: 'Light Green 900', #33691E;
$c: 'Light Green A100', #CCFF90;
$c: 'Light Green A200', #B2FF59;
$c: 'Light Green A400', #76FF03;
$c: 'Light Green A700', #64DD17;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Lime 50', #F9FBE7;
$c: 'Lime 100', #F0F4C3;
$c: 'Lime 200', #E6EE9C;
$c: 'Lime 300', #DCE775;
$c: 'Lime 400', #D4E157;
$c: 'Lime 500', #CDDC39;
$c: 'Lime 600', #C0CA33;
$c: 'Lime 700', #AFB42B;
$c: 'Lime 800', #9E9D24;
$c: 'Lime 900', #827717;
$c: 'Lime A100', #F4FF81;
$c: 'Lime A200', #EEFF41;
$c: 'Lime A400', #C6FF00;
$c: 'Lime A700', #AEEA00;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Yellow 50', #FFFDE7;
$c: 'Yellow 100', #FFF9C4;
$c: 'Yellow 200', #FFF59D;
$c: 'Yellow 300', #FFF176;
$c: 'Yellow 400', #FFEE58;
$c: 'Yellow 500', #FFEB3B;
$c: 'Yellow 600', #FDD835;
$c: 'Yellow 700', #FBC02D;
$c: 'Yellow 800', #F9A825;
$c: 'Yellow 900', #F57F17;
$c: 'Yellow A100', #FFFF8D;
$c: 'Yellow A200', #FFFF00;
$c: 'Yellow A400', #FFEA00;
$c: 'Yellow A700', #FFD600;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Amber 50', #FFF8E1;
$c: 'Amber 100', #FFECB3;
$c: 'Amber 200', #FFE082;
$c: 'Amber 300', #FFD54F;
$c: 'Amber 400', #FFCA28;
$c: 'Amber 500', #FFC107;
$c: 'Amber 600', #FFB300;
$c: 'Amber 700', #FFA000;
$c: 'Amber 800', #FF8F00;
$c: 'Amber 900', #FF6F00;
$c: 'Amber A100', #FFE57F;
$c: 'Amber A200', #FFD740;
$c: 'Amber A400', #FFC400;
$c: 'Amber A700', #FFAB00;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Orange 50', #FFF3E0;
$c: 'Orange 100', #FFE0B2;
$c: 'Orange 200', #FFCC80;
$c: 'Orange 300', #FFB74D;
$c: 'Orange 400', #FFA726;
$c: 'Orange 500', #FF9800;
$c: 'Orange 600', #FB8C00;
$c: 'Orange 700', #F57C00;
$c: 'Orange 800', #EF6C00;
$c: 'Orange 900', #E65100;
$c: 'Orange A100', #FFD180;
$c: 'Orange A200', #FFAB40;
$c: 'Orange A400', #FF9100;
$c: 'Orange A700', #FF6D00;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Deep Orange 50', #FBE9E7;
$c: 'Deep Orange 100', #FFCCBC;
$c: 'Deep Orange 200', #FFAB91;
$c: 'Deep Orange 300', #FF8A65;
$c: 'Deep Orange 400', #FF7043;
$c: 'Deep Orange 500', #FF5722;
$c: 'Deep Orange 600', #F4511E;
$c: 'Deep Orange 700', #E64A19;
$c: 'Deep Orange 800', #D84315;
$c: 'Deep Orange 900', #BF360C;
$c: 'Deep Orange A100', #FF9E80;
$c: 'Deep Orange A200', #FF6E40;
$c: 'Deep Orange A400', #FF3D00;
$c: 'Deep Orange A700', #DD2C00;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Brown 50', #EFEBE9;
$c: 'Brown 100', #D7CCC8;
$c: 'Brown 200', #BCAAA4;
$c: 'Brown 300', #A1887F;
$c: 'Brown 400', #8D6E63;
$c: 'Brown 500', #795548;
$c: 'Brown 600', #6D4C41;
$c: 'Brown 700', #5D4037;
$c: 'Brown 800', #4E342E;
$c: 'Brown 900', #3E2723;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Gray 50', #FAFAFA;
$c: 'Gray 100', #F5F5F5;
$c: 'Gray 200', #EEEEEE;
$c: 'Gray 300', #E0E0E0;
$c: 'Gray 400', #BDBDBD;
$c: 'Gray 500', #9E9E9E;
$c: 'Gray 600', #757575;
$c: 'Gray 700', #616161;
$c: 'Gray 800', #424242;
$c: 'Gray 900', #212121;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'https://material.io/resources/color', toggle view and resize ui to arrange the colors;
$c: 'Blue Gray 50', #ECEFF1;
$c: 'Blue Gray 100', #CFD8DC;
$c: 'Blue Gray 200', #B0BEC5;
$c: 'Blue Gray 300', #90A4AE;
$c: 'Blue Gray 400', #78909C;
$c: 'Blue Gray 500', #607D8B;
$c: 'Blue Gray 600', #546E7A;
$c: 'Blue Gray 700', #455A64;
$c: 'Blue Gray 800', #37474F;
$c: 'Blue Gray 900', #263238;