$c: 'Absolute Zero', #0048BA;
$c: 'Acid green', #B0BF1A;
$c: 'Aero', #7CB9E8;
$c: 'Aero blue', #C0E8D5;
$c: 'African violet', #B284BE;
$c: 'Air superiority blue', #72A0C1;
$c: 'Alabaster', #EDEAE0;
$c: 'Alice blue', #F0F8FF;
$c: 'Alloy orange', #C46210;
$c: 'Almond', #EFDECD;
$c: 'Amaranth', #E52B50;
$c: 'Amaranth (M&P)', #9F2B68;
$c: 'Amaranth pink', #F19CBB;
$c: 'Amaranth purple', #AB274F;
$c: 'Amaranth red', #D3212D;
$c: 'Amazon', #3B7A57;
$c: 'Amber', #FFBF00;
$c: 'Amber (SAE/ECE)', #FF7E00;
$c: 'Amethyst', #9966CC;
$c: 'Android green', #A4C639;
$c: 'Antique brass', #CD9575;
$c: 'Antique bronze', #665D1E;
$c: 'Antique fuchsia', #915C83;
$c: 'Antique ruby', #841B2D;
$c: 'Antique white', #FAEBD7;
$c: 'Ao (English)', #008000;
$c: 'Apple green', #8DB600;
$c: 'Apricot', #FBCEB1;
$c: 'Aqua', #00FFFF;
$c: 'Aquamarine', #7FFFD4;
$c: 'Arctic lime', #D0FF14;
$c: 'Army green', #4B5320;
$c: 'Artichoke', #8F9779;
$c: 'Arylide yellow', #E9D66B;
$c: 'Ash gray', #B2BEB5;
$c: 'Asparagus', #87A96B;
$c: 'Atomic tangerine', #FF9966;
$c: 'Auburn', #A52A2A;
$c: 'Aureolin', #FDEE00;
$c: 'Avocado', #568203;
$c: 'Azure', #007FFF;
$c: 'Azure (X11/web color)', #F0FFFF;
$c: 'Baby blue', #89CFF0;
$c: 'Baby blue eyes', #A1CAF1;
$c: 'Baby pink', #F4C2C2;
$c: 'Baby powder', #FEFEFA;
$c: 'Baker-Miller pink', #FF91AF;
$c: 'Banana Mania', #FAE7B5;
$c: 'Barbie Pink', #DA1884;
$c: 'Barn red', #7C0A02;
$c: 'Battleship grey', #848482;
$c: 'Beau blue', #BCD4E6;
$c: 'Beaver', #9F8170;
$c: 'Beige', #F5F5DC;
$c: 'B´dazzled blue', #2E5894;
$c: 'Big dip o’ruby', #9C2542;
$c: 'Bisque', #FFE4C4;
$c: 'Bistre', #3D2B1F;
$c: 'Bistre brown', #967117;
$c: 'Bitter lemon', #CAE00D;
$c: 'Bitter lime', #BFFF00;
$c: 'Bittersweet', #FE6F5E;
$c: 'Bittersweet shimmer', #BF4F51;
$c: 'Black', #000000;
$c: 'Black bean', #3D0C02;
$c: 'Black chocolate', #1B1811;
$c: 'Black coffee', #3B2F2F;
$c: 'Black coral', #54626F;
$c: 'Black olive', #3B3C36;
$c: 'Black Shadows', #BFAFB2;
$c: 'Blanched almond', #FFEBCD;
$c: 'Blast-off bronze', #A57164;
$c: 'Bleu de France', #318CE7;
$c: 'Blizzard blue', #ACE5EE;
$c: 'Blond', #FAF0BE;
$c: 'Blood red', #660000;
$c: 'Blue', #0000FF;
$c: 'Blue (Crayola)', #1F75FE;
$c: 'Blue (Munsell)', #0093AF;
$c: 'Blue (NCS)', #0087BD;
$c: 'Blue (Pantone)', #0018A8;
$c: 'Blue (pigment)', #333399;
$c: 'Blue (RYB)', #0247FE;
$c: 'Blue bell', #A2A2D0;
$c: 'Blue-gray', #6699CC;
$c: 'Blue-green', #0D98BA;
$c: 'Blue-green (color wheel)', #064E40;
$c: 'Blue jeans', #5DADEC;
$c: 'Blue sapphire', #126180;
$c: 'Blue-violet', #8A2BE2;
$c: 'Blue-violet (Crayola)', #7366BD;
$c: 'Blue-violet (color wheel)', #4D1A7F;
$c: 'Blue yonder', #5072A7;
$c: 'Bluetiful', #3C69E7;
$c: 'Blush', #DE5D83;
$c: 'Bole', #79443B;
$c: 'Bone', #E3DAC9;
$c: 'Bottle green', #006A4E;
$c: 'Brandy', #87413F;
$c: 'Brick red', #CB4154;
$c: 'Bright green', #66FF00;
$c: 'Bright lilac', #D891EF;
$c: 'Bright maroon', #C32148;
$c: 'Bright navy blue', #1974D2;
$c: 'Bright yellow (Crayola)', #FFAA1D;
$c: 'Brilliant rose', #FF55A3;
$c: 'Brink pink', #FB607F;
$c: 'British racing green', #004225;
$c: 'Bronze', #CD7F32;
$c: 'Brown', #88540B;
$c: 'Brown sugar', #AF6E4D;
$c: 'Brunswick green', #1B4D3E;
$c: 'Bud green', #7BB661;
$c: 'Buff', #F0DC82;
$c: 'Burgundy', #800020;
$c: 'Burlywood', #DEB887;
$c: 'Burnished brown', #A17A74;
$c: 'Burnt orange', #CC5500;
$c: 'Burnt sienna', #E97451;
$c: 'Burnt umber', #8A3324;
$c: 'Byzantine', #BD33A4;
$c: 'Byzantium', #702963;
$c: 'Cadet', #536872;
$c: 'Cadet blue', #5F9EA0;
$c: 'Cadet blue (Crayola)', #A9B2C3;
$c: 'Cadet grey', #91A3B0;
$c: 'Cadmium green', #006B3C;
$c: 'Cadmium orange', #ED872D;
$c: 'Cadmium red', #E30022;
$c: 'Cadmium yellow', #FFF600;
$c: 'Café au lait', #A67B5B;
$c: 'Café noir', #4B3621;
$c: 'Cambridge blue', #A3C1AD;
$c: 'Camel', #C19A6B;
$c: 'Cameo pink', #EFBBCC;
$c: 'Canary', #FFFF99;
$c: 'Canary yellow', #FFEF00;
$c: 'Candy apple red', #FF0800;
$c: 'Candy pink', #E4717A;
$c: 'Capri', #00BFFF;
$c: 'Caput mortuum', #592720;
$c: 'Cardinal', #C41E3A;
$c: 'Caribbean green', #00CC99;
$c: 'Carmine', #960018;
$c: 'Carmine (M&P)', #D70040;
$c: 'Carnation pink', #FFA6C9;
$c: 'Carnelian', #B31B1B;
$c: 'Carolina blue', #56A0D3;
$c: 'Carrot orange', #ED9121;
$c: 'Castleton green', #00563F;
$c: 'Catawba', #703642;
$c: 'Cedar Chest', #C95A49;
$c: 'Celadon', #ACE1AF;
$c: 'Celadon blue', #007BA7;
$c: 'Celadon green', #2F847C;
$c: 'Celeste', #B2FFFF;
$c: 'Celtic blue', #246BCE;
$c: 'Cerise', #DE3163;
$c: 'Cerulean', #007BA7;
$c: 'Cerulean blue', #2A52BE;
$c: 'Cerulean frost', #6D9BC3;
$c: 'Cerulean (Crayola)', #1DACD6;
$c: 'CG blue', #007AA5;
$c: 'CG red', #E03C31;
$c: 'Champagne', #F7E7CE;
$c: 'Champagne pink', #F1DDCF;
$c: 'Charcoal', #36454F;
$c: 'Charleston green', #232B2B;
$c: 'Charm pink', #E68FAC;
$c: 'Chartreuse (traditional)', #DFFF00;
$c: 'Chartreuse (web)', #7FFF00;
$c: 'Cherry blossom pink', #FFB7C5;
$c: 'Chestnut', #954535;
$c: 'Chili red', #E23D28;
$c: 'China pink', #DE6FA1;
$c: 'China rose', #A8516E;
$c: 'Chinese red', #AA381E;
$c: 'Chinese violet', #856088;
$c: 'Chinese yellow', #FFB200;
$c: 'Chocolate (traditional)', #7B3F00;
$c: 'Chocolate (web)', #D2691E;
$c: 'Chocolate Cosmos', #E23D28;
$c: 'Chrome yellow', #FFA700;
$c: 'Cinereous', #98817B;
$c: 'Cinnabar', #E34234;
$c: 'Cinnamon Satin', #CD607E;
$c: 'Citrine', #E4D00A;
$c: 'Citron', #9FA91F;
$c: 'Claret', #7F1734;
$c: 'Cobalt blue', #0047AB;
$c: 'Cocoa brown', #D2691E;
$c: 'Coffee', #6F4E37;
$c: 'Columbia Blue', #B9D9EB;
$c: 'Congo pink', #F88379;
$c: 'Cool grey', #8C92AC;
$c: 'Copper', #B87333;
$c: 'Copper (Crayola)', #DA8A67;
$c: 'Copper penny', #AD6F69;
$c: 'Copper red', #CB6D51;
$c: 'Copper rose', #996666;
$c: 'Coquelicot', #FF3800;
$c: 'Coral', #FF7F50;
$c: 'Coral pink', #F88379;
$c: 'Cordovan', #893F45;
$c: 'Corn', #FBEC5D;
$c: 'Cornell red', #B31B1B;
$c: 'Cornflower blue', #6495ED;
$c: 'Cornsilk', #FFF8DC;
$c: 'Cosmic cobalt', #2E2D88;
$c: 'Cosmic latte', #FFF8E7;
$c: 'Coyote brown', #81613C;
$c: 'Cotton candy', #FFBCD9;
$c: 'Cream', #FFFDD0;
$c: 'Crimson', #DC143C;
$c: 'Crimson (UA)', #9E1B32;
$c: 'Cultured', #F5F5F5;
$c: 'Cyan', #00FFFF;
$c: 'Cyan (process)', #00B7EB;
$c: 'Cyber grape', #58427C;
$c: 'Cyber yellow', #FFD300;
$c: 'Cyclamen', #F56FA1;
$c: 'Dark blue-gray', #666699;
$c: 'Dark brown', #654321;
$c: 'Dark byzantium', #5D3954;
$c: 'Dark cornflower blue', #26428B;
$c: 'Dark cyan', #008B8B;
$c: 'Dark electric blue', #536878;
$c: 'Dark goldenrod', #B8860B;
$c: 'Dark green', #013220;
$c: 'Dark green (X11)', #006400;
$c: 'Dark jungle green', #1A2421;
$c: 'Dark khaki', #BDB76B;
$c: 'Dark lava', #483C32;
$c: 'Dark liver', #534B4F;
$c: 'Dark liver (horses)', #543D37;
$c: 'Dark magenta', #8B008B;
$c: 'Dark moss green', #4A5D23;
$c: 'Dark olive green', #556B2F;
$c: 'Dark orange', #FF8C00;
$c: 'Dark orchid', #9932CC;
$c: 'Dark pastel green', #03C03C;
$c: 'Dark purple', #301934;
$c: 'Dark red', #8B0000;
$c: 'Dark salmon', #E9967A;
$c: 'Dark sea green', #8FBC8F;
$c: 'Dark sienna', #3C1414;
$c: 'Dark sky blue', #8CBED6;
$c: 'Dark slate blue', #483D8B;
$c: 'Dark slate gray', #2F4F4F;
$c: 'Dark spring green', #177245;
$c: 'Dark turquoise', #00CED1;
$c: 'Dark violet', #9400D3;
$c: 'Dartmouth green', #00703C;
$c: 'Davy´s grey', #555555;
$c: 'Deep cerise', #DA3287;
$c: 'Deep champagne', #FAD6A5;
$c: 'Deep chestnut', #B94E48;
$c: 'Deep jungle green', #004B49;
$c: 'Deep pink', #FF1493;
$c: 'Deep saffron', #FF9933;
$c: 'Deep sky blue', #00BFFF;
$c: 'Deep Space Sparkle', #4A646C;
$c: 'Deep taupe', #7E5E60;
$c: 'Denim', #1560BD;
$c: 'Denim blue', #2243B6;
$c: 'Desert', #C19A6B;
$c: 'Desert sand', #EDC9AF;
$c: 'Dim gray', #696969;
$c: 'Dodger blue', #1E90FF;
$c: 'Dogwood rose', #D71868;
$c: 'Drab', #967117;
$c: 'Duke blue', #00009C;
$c: 'Dutch white', #EFDFBB;
$c: 'Earth yellow', #E1A95F;
$c: 'Ebony', #555D50;
$c: 'Ecru', #C2B280;
$c: 'Eerie black', #1B1B1B;
$c: 'Eggplant', #614051;
$c: 'Eggshell', #F0EAD6;
$c: 'Egyptian blue', #1034A6;
$c: 'Eigengrau', #16161D;
$c: 'Electric blue', #7DF9FF;
$c: 'Electric green', #00FF00;
$c: 'Electric indigo', #6F00FF;
$c: 'Electric lime', #CCFF00;
$c: 'Electric purple', #BF00FF;
$c: 'Electric violet', #8F00FF;
$c: 'Emerald', #50C878;
$c: 'Eminence', #6C3082;
$c: 'English green', #1B4D3E;
$c: 'English lavender', #B48395;
$c: 'English red', #AB4B52;
$c: 'English vermillion', #CC474B;
$c: 'English violet', #563C5C;
$c: 'Erin', #00FF40;
$c: 'Eton blue', #96C8A2;
$c: 'Fallow', #C19A6B;
$c: 'Falu red', #801818;
$c: 'Fandango', #B53389;
$c: 'Fandango pink', #DE5285;
$c: 'Fashion fuchsia', #F400A1;
$c: 'Fawn', #E5AA70;
$c: 'Feldgrau', #4D5D53;
$c: 'Fern green', #4F7942;
$c: 'Field drab', #6C541E;
$c: 'Fiery rose', #FF5470;
$c: 'Firebrick', #B22222;
$c: 'Fire engine red', #CE2029;
$c: 'Fire opal', #E95C4B;
$c: 'Flame', #E25822;
$c: 'Flax', #EEDC82;
$c: 'Flirt', #A2006D;
$c: 'Floral white', #FFFAF0;
$c: 'Fluorescent blue', #15F4EE;
$c: 'Forest green (Crayola)', #5FA777;
$c: 'Forest green (traditional)', #014421;
$c: 'Forest green (web)', #228B22;
$c: 'French beige', #A67B5B;
$c: 'French bistre', #856D4D;
$c: 'French blue', #0072BB;
$c: 'French fuchsia', #FD3F92;
$c: 'French lilac', #86608E;
$c: 'French lime', #9EFD38;
$c: 'French mauve', #D473D4;
$c: 'French pink', #FD6C9E;
$c: 'French raspberry', #C72C48;
$c: 'French rose', #F64A8A;
$c: 'French sky blue', #77B5FE;
$c: 'French violet', #8806CE;
$c: 'Frostbite', #E936A7;
$c: 'Fuchsia', #FF00FF;
$c: 'Fuchsia (Crayola)', #C154C1;
$c: 'Fuchsia purple', #CC397B;
$c: 'Fuchsia rose', #C74375;
$c: 'Fulvous', #E48400;
$c: 'Fuzzy Wuzzy', #87421F;
$c: 'Gainsboro', #DCDCDC;
$c: 'Gamboge', #E49B0F;
$c: 'Generic viridian', #007F66;
$c: 'Ghost white', #F8F8FF;
$c: 'Glaucous', #6082B6;
$c: 'Glossy grape', #AB92B3;
$c: 'GO green', #00AB66;
$c: 'Gold', #A57C00;
$c: 'Gold (metallic)', #D4AF37;
$c: 'Gold (web) (Golden)', #FFD700;
$c: 'Gold (Crayola)', #E6BE8A;
$c: 'Gold Fusion', #85754E;
$c: 'Golden brown', #996515;
$c: 'Golden poppy', #FCC200;
$c: 'Golden yellow', #FFDF00;
$c: 'Goldenrod', #DAA520;
$c: 'Granite gray', #676767;
$c: 'Granny Smith apple', #A8E4A0;
$c: 'Gray (web)', #808080;
$c: 'Gray (X11 gray)', #BEBEBE;
$c: 'Green', #00FF00;
$c: 'Green (Crayola)', #1CAC78;
$c: 'Green (web)', #008000;
$c: 'Green (Munsell)', #00A877;
$c: 'Green (NCS)', #009F6B;
$c: 'Green (Pantone)', #00AD43;
$c: 'Green (pigment)', #00A550;
$c: 'Green (RYB)', #66B032;
$c: 'Green-blue', #1164B4;
$c: 'Green-blue (Crayola)', #2887C8;
$c: 'Green-cyan', #009966;
$c: 'Green Lizard', #A7F432;
$c: 'Green Sheen', #6EAEA1;
$c: 'Green-yellow', #ADFF2F;
$c: 'Green-yellow (Crayola)', #F0E891;
$c: 'Grullo', #A99A86;
$c: 'Gunmetal', #2a3439;
$c: 'Han blue', #446CCF;
$c: 'Han purple', #5218FA;
$c: 'Hansa yellow', #E9D66B;
$c: 'Harlequin', #3FFF00;
$c: 'Harvest gold', #DA9100;
$c: 'Heat Wave', #FF7A00;
$c: 'Heliotrope', #DF73FF;
$c: 'Heliotrope gray', #AA98A9;
$c: 'Hollywood cerise', #F400A1;
$c: 'Honeydew', #F0FFF0;
$c: 'Honolulu blue', #006DB0;
$c: 'Hooker´s green', #49796B;
$c: 'Hot magenta', #FF1DCE;
$c: 'Hot pink', #FF69B4;
$c: 'Hunter green', #355E3B;
$c: 'Iceberg', #71A6D2;
$c: 'Icterine', #FCF75E;
$c: 'Illuminating emerald', #319177;
$c: 'Imperial red', #ED2939;
$c: 'Inchworm', #B2EC5D;
$c: 'Independence', #4C516D;
$c: 'India green', #138808;
$c: 'Indian red', #CD5C5C;
$c: 'Indian yellow', #E3A857;
$c: 'Indigo', #4B0082;
$c: 'Indigo dye', #00416A;
$c: 'International orange (aerospace)', #FF4F00;
$c: 'International orange (engineering)', #BA160C;
$c: 'International orange (Golden Gate Bridge)', #C0362C;
$c: 'Iris', #5A4FCF;
$c: 'Irresistible', #B3446C;
$c: 'Isabelline', #F4F0EC;
$c: 'Italian sky blue', #B2FFFF;
$c: 'Ivory', #FFFFF0;
$c: 'Jade', #00A86B;
$c: 'Japanese carmine', #9D2933;
$c: 'Japanese violet', #5B3256;
$c: 'Jasmine', #F8DE7E;
$c: 'Jazzberry jam', #A50B5E;
$c: 'Jet', #343434;
$c: 'Jonquil', #F4CA16;
$c: 'June bud', #BDDA57;
$c: 'Jungle green', #29AB87;
$c: 'Kelly green', #4CBB17;
$c: 'Keppel', #3AB09E;
$c: 'Key lime', #E8F48C;
$c: 'Khaki (web)', #C3B091;
$c: 'Khaki (X11) (Light khaki)', #F0E68C;
$c: 'Kobe', #882D17;
$c: 'Kobi', #E79FC4;
$c: 'Kobicha', #6B4423;
$c: 'Kombu green', #354230;
$c: 'KSU purple', #512888;
$c: 'Languid lavender', #D6CADD;
$c: 'Lapis lazuli', #26619C;
$c: 'Laser lemon', #FFFF66;
$c: 'Laurel green', #A9BA9D;
$c: 'Lava', #CF1020;
$c: 'Lavender (floral)', #B57EDC;
$c: 'Lavender (web)', #E6E6FA;
$c: 'Lavender blue', #CCCCFF;
$c: 'Lavender blush', #FFF0F5;
$c: 'Lavender gray', #C4C3D0;
$c: 'Lawn green', #7CFC00;
$c: 'Lemon', #FFF700;
$c: 'Lemon chiffon', #FFFACD;
$c: 'Lemon curry', #CCA01D;
$c: 'Lemon glacier', #FDFF00;
$c: 'Lemon meringue', #F6EABE;
$c: 'Lemon yellow', #FFF44F;
$c: 'Lemon yellow (Crayola)', #FFFF9F;
$c: 'Liberty', #545AA7;
$c: 'Light blue', #ADD8E6;
$c: 'Light coral', #F08080;
$c: 'Light cornflower blue', #93CCEA;
$c: 'Light cyan', #E0FFFF;
$c: 'Light French beige', #C8AD7F;
$c: 'Light goldenrod yellow', #FAFAD2;
$c: 'Light gray', #D3D3D3;
$c: 'Light green', #90EE90;
$c: 'Light orange', #FED8B1;
$c: 'Light periwinkle', #C5CBE1;
$c: 'Light pink', #FFB6C1;
$c: 'Light salmon', #FFA07A;
$c: 'Light sea green', #20B2AA;
$c: 'Light sky blue', #87CEFA;
$c: 'Light slate gray', #778899;
$c: 'Light steel blue', #B0C4DE;
$c: 'Light yellow', #FFFFE0;
$c: 'Lilac', #C8A2C8;
$c: 'Lilac Luster', #AE98AA;
$c: 'Lime (color wheel)', #BFFF00;
$c: 'Lime (web) (X11 green)', #00FF00;
$c: 'Lime green', #32CD32;
$c: 'Lincoln green', #195905;
$c: 'Linen', #FAF0E6;
$c: 'Lion', #C19A6B;
$c: 'Liseran purple', #DE6FA1;
$c: 'Little boy blue', #6CA0DC;
$c: 'Liver', #674C47;
$c: 'Liver (dogs)', #B86D29;
$c: 'Liver (organ)', #6C2E1F;
$c: 'Liver chestnut', #987456;
$c: 'Livid', #6699CC;
$c: 'Macaroni and Cheese', #FFBD88;
$c: 'Madder Lake', #CC3336;
$c: 'Magenta', #FF00FF;
$c: 'Magenta (Crayola)', #F653A6;
$c: 'Magenta (dye)', #CA1F7B;
$c: 'Magenta (Pantone)', #D0417E;
$c: 'Magenta (process)', #FF0090;
$c: 'Magenta haze', #9F4576;
$c: 'Magic mint', #AAF0D1;
$c: 'Magnolia', #F2E8D7;
$c: 'Mahogany', #C04000;
$c: 'Maize', #FBEC5D;
$c: 'Maize (Crayola)', #F2C649;
$c: 'Majorelle blue', #6050DC;
$c: 'Malachite', #0BDA51;
$c: 'Manatee', #979AAA;
$c: 'Mandarin', #F37A48;
$c: 'Mango', #FDBE02;
$c: 'Mango Tango', #FF8243;
$c: 'Mantis', #74C365;
$c: 'Mardi Gras', #880085;
$c: 'Marigold', #EAA221;
$c: 'Maroon (Crayola)', #C32148;
$c: 'Maroon (web)', #800000;
$c: 'Maroon (X11)', #B03060;
$c: 'Mauve', #E0B0FF;
$c: 'Mauve taupe', #915F6D;
$c: 'Mauvelous', #EF98AA;
$c: 'Maximum blue', #47ABCC;
$c: 'Maximum blue green', #30BFBF;
$c: 'Maximum blue purple', #ACACE6;
$c: 'Maximum green', #5E8C31;
$c: 'Maximum green yellow', #D9E650;
$c: 'Maximum purple', #733380;
$c: 'Maximum red', #D92121;
$c: 'Maximum red purple', #A63A79;
$c: 'Maximum yellow', #FAFA37;
$c: 'Maximum yellow red', #F2BA49;
$c: 'May green', #4C9141;
$c: 'Maya blue', #73C2FB;
$c: 'Medium aquamarine', #66DDAA;
$c: 'Medium blue', #0000CD;
$c: 'Medium candy apple red', #E2062C;
$c: 'Medium carmine', #AF4035;
$c: 'Medium champagne', #F3E5AB;
$c: 'Medium orchid', #BA55D3;
$c: 'Medium purple', #9370DB;
$c: 'Medium sea green', #3CB371;
$c: 'Medium slate blue', #7B68EE;
$c: 'Medium spring green', #00FA9A;
$c: 'Medium turquoise', #48D1CC;
$c: 'Medium violet-red', #C71585;
$c: 'Mellow apricot', #F8B878;
$c: 'Mellow yellow', #F8DE7E;
$c: 'Melon', #FEBAAD;
$c: 'Metallic gold', #D3AF37;
$c: 'Metallic Seaweed', #0A7E8C;
$c: 'Metallic Sunburst', #9C7C38;
$c: 'Mexican pink', #E4007C;
$c: 'Middle blue', #7ED4E6;
$c: 'Middle blue green', #8DD9CC;
$c: 'Middle blue purple', #8B72BE;
$c: 'Middle grey', #8B8680;
$c: 'Middle green', #4D8C57;
$c: 'Middle green yellow', #ACBF60;
$c: 'Middle purple', #D982B5;
$c: 'Middle red', #E58E73;
$c: 'Middle red purple', #A55353;
$c: 'Middle yellow', #FFEB00;
$c: 'Middle yellow red', #ECB176;
$c: 'Midnight', #702670;
$c: 'Midnight blue', #191970;
$c: 'Midnight green (eagle green)', #004953;
$c: 'Mikado yellow', #FFC40C;
$c: 'Mimi pink', #FFDAE9;
$c: 'Mindaro', #E3F988;
$c: 'Ming', #36747D;
$c: 'Minion yellow', #F5E050;
$c: 'Mint', #3EB489;
$c: 'Mint cream', #F5FFFA;
$c: 'Mint green', #98FF98;
$c: 'Misty moss', #BBB477;
$c: 'Misty rose', #FFE4E1;
$c: 'Mode beige', #967117;
$c: 'Morning blue', #8DA399;
$c: 'Moss green', #8A9A5B;
$c: 'Mountain Meadow', #30BA8F;
$c: 'Mountbatten pink', #997A8D;
$c: 'MSU green', #18453B;
$c: 'Mulberry', #C54B8C;
$c: 'Mulberry (Crayola)', #C8509B;
$c: 'Mustard', #FFDB58;
$c: 'Myrtle green', #317873;
$c: 'Mystic', #D65282;
$c: 'Mystic maroon', #AD4379;
$c: 'Nadeshiko pink', #F6ADC6;
$c: 'Naples yellow', #FADA5E;
$c: 'Navajo white', #FFDEAD;
$c: 'Navy blue', #000080;
$c: 'Navy blue (Crayola)', #1974D2;
$c: 'Neon blue', #4666FF;
$c: 'Neon Carrot', #FFA343;
$c: 'Neon green', #39FF14;
$c: 'Neon fuchsia', #FE4164;
$c: 'New York pink', #D7837F;
$c: 'Nickel', #727472;
$c: 'Non-photo blue', #A4DDED;
$c: 'Nyanza', #E9FFDB;
$c: 'Ocean Blue', #4F42B5;
$c: 'Ocean green', #48BF91;
$c: 'Ochre', #CC7722;
$c: 'Old burgundy', #43302E;
$c: 'Old gold', #CFB53B;
$c: 'Old lace', #FDF5E6;
$c: 'Old lavender', #796878;
$c: 'Old mauve', #673147;
$c: 'Old rose', #C08081;
$c: 'Old silver', #848482;
$c: 'Olive', #808000;
$c: 'Olive Drab (#3)', #6B8E23;
$c: 'Olive Drab #7', #3C341F;
$c: 'Olive green', #B5B35C;
$c: 'Olivine', #9AB973;
$c: 'Onyx', #353839;
$c: 'Opal', #A8C3BC;
$c: 'Opera mauve', #B784A7;
$c: 'Orange', #FF7F00;
$c: 'Orange (Crayola)', #FF7538;
$c: 'Orange (Pantone)', #FF5800;
$c: 'Orange (web)', #FFA500;
$c: 'Orange peel', #FF9F00;
$c: 'Orange-red', #FF681F;
$c: 'Orange-red (Crayola)', #FF5349;
$c: 'Orange soda', #FA5B3D;
$c: 'Orange-yellow', #F5BD1F;
$c: 'Orange-yellow (Crayola)', #F8D568;
$c: 'Orchid', #DA70D6;
$c: 'Orchid pink', #F2BDCD;
$c: 'Orchid (Crayola)', #E29CD2;
$c: 'Outer space (Crayola)', #2D383A;
$c: 'Outrageous Orange', #FF6E4A;
$c: 'Oxblood', #800020;
$c: 'Oxford blue', #002147;
$c: 'OU Crimson red', #841617;
$c: 'Pacific blue', #1CA9C9;
$c: 'Pakistan green', #006600;
$c: 'Palatinate purple', #682860;
$c: 'Pale aqua', #BCD4E6;
$c: 'Pale cerulean', #9BC4E2;
$c: 'Pale Dogwood', #ED7A9B;
$c: 'Pale pink', #FADADD;
$c: 'Pale purple (Pantone)', #FAE6FA;
$c: 'Pale silver', #C9C0BB;
$c: 'Pale spring bud', #ECEBBD;
$c: 'Pansy purple', #78184A;
$c: 'Paolo Veronese green', #009B7D;
$c: 'Papaya whip', #FFEFD5;
$c: 'Paradise pink', #E63E62;
$c: 'Parchment', #F1E9D2;
$c: 'Paris Green', #50C878;
$c: 'Pastel pink', #DEA5A4;
$c: 'Patriarch', #800080;
$c: 'Payne´s grey', #536878;
$c: 'Peach', #FFE5B4;
$c: 'Peach (Crayola)', #FFCBA4;
$c: 'Peach puff', #FFDAB9;
$c: 'Pear', #D1E231;
$c: 'Pearly purple', #B768A2;
$c: 'Periwinkle', #CCCCFF;
$c: 'Periwinkle (Crayola)', #C3CDE6;
$c: 'Permanent Geranium Lake', #E12C2C;
$c: 'Persian blue', #1C39BB;
$c: 'Persian green', #00A693;
$c: 'Persian indigo', #32127A;
$c: 'Persian orange', #D99058;
$c: 'Persian pink', #F77FBE;
$c: 'Persian plum', #701C1C;
$c: 'Persian red', #CC3333;
$c: 'Persian rose', #FE28A2;
$c: 'Persimmon', #EC5800;
$c: 'Pewter Blue', #8BA8B7;
$c: 'Phlox', #DF00FF;
$c: 'Phthalo blue', #000F89;
$c: 'Phthalo green', #123524;
$c: 'Picotee blue', #2E2787;
$c: 'Pictorial carmine', #C30B4E;
$c: 'Piggy pink', #FDDDE6;
$c: 'Pine green', #01796F;
$c: 'Pine tree', #2A2F23;
$c: 'Pink', #FFC0CB;
$c: 'Pink (Pantone)', #D74894;
$c: 'Pink flamingo', #FC74FD;
$c: 'Pink lace', #FFDDF4;
$c: 'Pink lavender', #D8B2D1;
$c: 'Pink Sherbet', #F78FA7;
$c: 'Pistachio', #93C572;
$c: 'Platinum', #E5E4E2;
$c: 'Plum', #8E4585;
$c: 'Plum (web)', #DDA0DD;
$c: 'Plump Purple', #5946B2;
$c: 'Polished Pine', #5DA493;
$c: 'Pomp and Power', #86608E;
$c: 'Popstar', #BE4F62;
$c: 'Portland Orange', #FF5A36;
$c: 'Powder blue', #B0E0E6;
$c: 'Princeton orange', #F58025;
$c: 'Process yellow', #FFEF00;
$c: 'Prune', #701C1C;
$c: 'Prussian blue', #003153;
$c: 'Psychedelic purple', #DF00FF;
$c: 'Puce', #CC8899;
$c: 'Pullman Brown (UPS Brown)', #644117;
$c: 'Pumpkin', #FF7518;
$c: 'Purple', #6A0DAD;
$c: 'Purple (web)', #800080;
$c: 'Purple (Munsell)', #9F00C5;
$c: 'Purple (X11)', #A020F0;
$c: 'Purple mountain majesty', #9678B6;
$c: 'Purple navy', #4E5180;
$c: 'Purple pizzazz', #FE4EDA;
$c: 'Purple Plum', #9C51B6;
$c: 'Purpureus', #9A4EAE;
$c: 'Queen blue', #436B95;
$c: 'Queen pink', #E8CCD7;
$c: 'Quick Silver', #A6A6A6;
$c: 'Quinacridone magenta', #8E3A59;
$c: 'Radical Red', #FF355E;
$c: 'Raisin black', #242124;
$c: 'Rajah', #FBAB60;
$c: 'Raspberry', #E30B5D;
$c: 'Raspberry glace', #915F6D;
$c: 'Raspberry rose', #B3446C;
$c: 'Raw sienna', #D68A59;
$c: 'Raw umber', #826644;
$c: 'Razzle dazzle rose', #FF33CC;
$c: 'Razzmatazz', #E3256B;
$c: 'Razzmic Berry', #8D4E85;
$c: 'Rebecca Purple', #663399;
$c: 'Red', #FF0000;
$c: 'Red (Crayola)', #EE204D;
$c: 'Red (Munsell)', #F2003C;
$c: 'Red (NCS)', #C40233;
$c: 'Red (Pantone)', #ED2939;
$c: 'Red (pigment)', #ED1C24;
$c: 'Red (RYB)', #FE2712;
$c: 'Red-orange', #FF5349;
$c: 'Red-orange (Crayola)', #FF681F;
$c: 'Red-orange (Color wheel)', #FF4500;
$c: 'Red-purple', #E40078;
$c: 'Red Salsa', #FD3A4A;
$c: 'Red-violet', #C71585;
$c: 'Red-violet (Crayola)', #C0448F;
$c: 'Red-violet (Color wheel)', #922B3E;
$c: 'Redwood', #A45A52;
$c: 'Resolution blue', #002387;
$c: 'Rhythm', #777696;
$c: 'Rich black', #004040;
$c: 'Rich black (FOGRA29)', #010B13;
$c: 'Rich black (FOGRA39)', #010203;
$c: 'Rifle green', #444C38;
$c: 'Robin egg blue', #00CCCC;
$c: 'Rocket metallic', #8A7F80;
$c: 'Rojo Spanish red', #A91101;
$c: 'Roman silver', #838996;
$c: 'Rose', #FF007F;
$c: 'Rose bonbon', #F9429E;
$c: 'Rose Dust', #9E5E6F;
$c: 'Rose ebony', #674846;
$c: 'Rose madder', #E32636;
$c: 'Rose pink', #FF66CC;
$c: 'Rose Pompadour', #ED7A9B;
$c: 'Rose quartz', #AA98A9;
$c: 'Rose red', #C21E56;
$c: 'Rose taupe', #905D5D;
$c: 'Rose vale', #AB4E52;
$c: 'Rosewood', #65000B;
$c: 'Rosso corsa', #D40000;
$c: 'Rosy brown', #BC8F8F;
$c: 'Royal blue (dark)', #002366;
$c: 'Royal blue (light)', #4169E1;
$c: 'Royal purple', #7851A9;
$c: 'Royal yellow', #FADA5E;
$c: 'Ruber', #CE4676;
$c: 'Rubine red', #D10056;
$c: 'Ruby', #E0115F;
$c: 'Ruby red', #9B111E;
$c: 'Rufous', #A81C07;
$c: 'Russet', #80461B;
$c: 'Russian green', #679267;
$c: 'Russian violet', #32174D;
$c: 'Rust', #B7410E;
$c: 'Rusty red', #DA2C43;
$c: 'Sacramento State green', #043927;
$c: 'Saddle brown', #8B4513;
$c: 'Safety orange', #FF7800;
$c: 'Safety orange (blaze orange)', #FF6700;
$c: 'Safety yellow', #EED202;
$c: 'Saffron', #F4C430;
$c: 'Sage', #BCB88A;
$c: 'St. Patrick´s blue', #23297A;
$c: 'Salmon', #FA8072;
$c: 'Salmon pink', #FF91A4;
$c: 'Sand', #C2B280;
$c: 'Sand dune', #967117;
$c: 'Sandy brown', #F4A460;
$c: 'Sap green', #507D2A;
$c: 'Sapphire', #0F52BA;
$c: 'Sapphire blue', #0067A5;
$c: 'Sapphire (Crayola)', #0067A5;
$c: 'Satin sheen gold', #CBA135;
$c: 'Scarlet', #FF2400;
$c: 'Schauss pink', #FF91AF;
$c: 'School bus yellow', #FFD800;
$c: 'Screamin Green', #66FF66;
$c: 'Sea green', #2E8B57;
$c: 'Sea green (Crayola)', #00FFCD;
$c: 'Seal brown', #59260B;
$c: 'Seashell', #FFF5EE;
$c: 'Selective yellow', #FFBA00;
$c: 'Sepia', #704214;
$c: 'Shadow', #8A795D;
$c: 'Shadow blue', #778BA5;
$c: 'Shamrock green', #009E60;
$c: 'Sheen green', #8FD400;
$c: 'Shimmering Blush', #D98695;
$c: 'Shiny Shamrock', #5FA778;
$c: 'Shocking pink', #FC0FC0;
$c: 'Shocking pink (Crayola)', #FF6FFF;
$c: 'Sienna', #882D17;
$c: 'Silver', #C0C0C0;
$c: 'Silver (Crayola)', #C9C0BB;
$c: 'Silver (Metallic)', #AAA9AD;
$c: 'Silver chalice', #ACACAC;
$c: 'Silver pink', #C4AEAD;
$c: 'Silver sand', #BFC1C2;
$c: 'Sinopia', #CB410B;
$c: 'Sizzling Red', #FF3855;
$c: 'Sizzling Sunrise', #FFDB00;
$c: 'Skobeloff', #007474;
$c: 'Sky blue', #87CEEB;
$c: 'Sky blue (Crayola)', #76D7EA;
$c: 'Sky magenta', #CF71AF;
$c: 'Slate blue', #6A5ACD;
$c: 'Slate gray', #708090;
$c: 'Slimy green', #299617;
$c: 'Smitten', #C84186;
$c: 'Smoky black', #100C08;
$c: 'Snow', #FFFAFA;
$c: 'Solid pink', #893843;
$c: 'Sonic silver', #757575;
$c: 'Space cadet', #1D2951;
$c: 'Spanish bistre', #807532;
$c: 'Spanish blue', #0070B8;
$c: 'Spanish carmine', #D10047;
$c: 'Spanish gray', #989898;
$c: 'Spanish green', #009150;
$c: 'Spanish orange', #E86100;
$c: 'Spanish pink', #F7BFBE;
$c: 'Spanish red', #E60026;
$c: 'Spanish sky blue', #00FFFF;
$c: 'Spanish violet', #4C2882;
$c: 'Spanish viridian', #007F5C;
$c: 'Spring bud', #A7FC00;
$c: 'Spring Frost', #87FF2A;
$c: 'Spring green', #00FF7F;
$c: 'Spring green (Crayola)', #ECEBBD;
$c: 'Star command blue', #007BB8;
$c: 'Steel blue', #4682B4;
$c: 'Steel pink', #CC33CC;
$c: 'Steel Teal', #5F8A8B;
$c: 'Stil de grain yellow', #FADA5E;
$c: 'Straw', #E4D96F;
$c: 'Sugar Plum', #914E75;
$c: 'Sunglow', #FFCC33;
$c: 'Sunray', #E3AB57;
$c: 'Sunset', #FAD6A5;
$c: 'Super pink', #CF6BA9;
$c: 'Sweet Brown', #A83731;
$c: 'Syracuse Orange', #D44500;
$c: 'Tan', #D2B48C;
$c: 'Tan (Crayola)', #D99A6C;
$c: 'Tangerine', #F28500;
$c: 'Tango pink', #E4717A;
$c: 'Tart Orange', #FB4D46;
$c: 'Taupe', #483C32;
$c: 'Taupe gray', #8B8589;
$c: 'Tea green', #D0F0C0;
$c: 'Tea rose', #F88379;
$c: 'Tea rose', #F4C2C2;
$c: 'Teal', #008080;
$c: 'Teal blue', #367588;
$c: 'Telemagenta', #CF3476;
$c: 'Tenné (tawny)', #CD5700;
$c: 'Terra cotta', #E2725B;
$c: 'Thistle', #D8BFD8;
$c: 'Thulian pink', #DE6FA1;
$c: 'Tickle Me Pink', #FC89AC;
$c: 'Tiffany Blue', #0ABAB5;
$c: 'Timberwolf', #DBD7D2;
$c: 'Titanium yellow', #EEE600;
$c: 'Tomato', #FF6347;
$c: 'Tropical rainforest', #00755E;
$c: 'True Blue', #2D68C4;
$c: 'Trypan Blue', #1C05B3;
$c: 'Tufts blue', #3E8EDE;
$c: 'Tumbleweed', #DEAA88;
$c: 'Turquoise', #40E0D0;
$c: 'Turquoise blue', #00FFEF;
$c: 'Turquoise green', #A0D6B4;
$c: 'Turtle green', #8A9A5B;
$c: 'Tuscan', #FAD6A5;
$c: 'Tuscan brown', #6F4E37;
$c: 'Tuscan red', #7C4848;
$c: 'Tuscan tan', #A67B5B;
$c: 'Tuscany', #C09999;
$c: 'Twilight lavender', #8A496B;
$c: 'Tyrian purple', #66023C;
$c: 'UA blue', #0033AA;
$c: 'UA red', #D9004C;
$c: 'Ultramarine', #3F00FF;
$c: 'Ultramarine blue', #4166F5;
$c: 'Ultra pink', #FF6FFF;
$c: 'Ultra red', #FC6C85;
$c: 'Umber', #635147;
$c: 'Unbleached silk', #FFDDCA;
$c: 'United Nations blue', #5B92E5;
$c: 'University of Pennsylvania red', #A50021;
$c: 'Unmellow yellow', #FFFF66;
$c: 'UP Forest green', #014421;
$c: 'UP maroon', #7B1113;
$c: 'Upsdell red', #AE2029;
$c: 'Uranian blue', #AFDBF5;
$c: 'USAFA blue', #004F98;
$c: 'Van Dyke brown', #664228;
$c: 'Vanilla', #F3E5AB;
$c: 'Vanilla ice', #F38FA9;
$c: 'Vegas gold', #C5B358;
$c: 'Venetian red', #C80815;
$c: 'Verdigris', #43B3AE;
$c: 'Vermilion', #E34234;
$c: 'Vermilion', #D9381E;
$c: 'Veronica', #A020F0;
$c: 'Violet', #8F00FF;
$c: 'Violet (color wheel)', #7F00FF;
$c: 'Violet (crayola)', #963D7F;
$c: 'Violet (RYB)', #8601AF;
$c: 'Violet (web)', #EE82EE;
$c: 'Violet-blue', #324AB2;
$c: 'Violet-blue (Crayola)', #766EC8;
$c: 'Violet-red', #F75394;
$c: 'Viridian', #40826D;
$c: 'Viridian green', #009698;
$c: 'Vivid burgundy', #9F1D35;
$c: 'Vivid sky blue', #00CCFF;
$c: 'Vivid tangerine', #FFA089;
$c: 'Vivid violet', #9F00FF;
$c: 'Volt', #CEFF00;
$c: 'Warm black', #004242;
$c: 'Wheat', #F5DEB3;
$c: 'White', #FFFFFF;
$c: 'Wild blue yonder', #A2ADD0;
$c: 'Wild orchid', #D470A2;
$c: 'Wild Strawberry', #FF43A4;
$c: 'Wild watermelon', #FC6C85;
$c: 'Windsor tan', #A75502;
$c: 'Wine', #722F37;
$c: 'Wine dregs', #673147;
$c: 'Winter Sky', #FF007C;
$c: 'Wintergreen Dream', #56887D;
$c: 'Wisteria', #C9A0DC;
$c: 'Wood brown', #C19A6B;
$c: 'Xanadu', #738678;
$c: 'Xanthic', #EEED09;
$c: 'Yale Blue', #00356B;
$c: 'Yellow', #FFFF00;
$c: 'Yellow (Crayola)', #FCE883;
$c: 'Yellow (Munsell)', #EFCC00;
$c: 'Yellow (NCS)', #FFD300;
$c: 'Yellow (Pantone)', #FEDF00;
$c: 'Yellow (process)', #FFEF00;
$c: 'Yellow (RYB)', #FEFE33;
$c: 'Yellow-green', #9ACD32;
$c: 'Yellow-green (Crayola)', #C5E384;
$c: 'Yellow-green (Color Wheel)', #30B21A;
$c: 'Yellow Orange', #FFAE42;
$c: 'Yellow Orange (Color Wheel)', #FF9505;
$c: 'Yellow Sunshine', #FFF700;
$c: 'YInMn Blue', #2E5090;
$c: 'Zaffre', #0014A8;
$c: 'Zomp', #39A78E;
