$c: 'check out lospec.com for more', ;
$c: 'Gameboy', #202020;
$c: 'Gameboy', #5e6745;
$c: 'Gameboy', #aeba89;
$c: 'Gameboy', #e3eec0;
$c: 'check out lospec.com for more', ;
$c: 'Nyx8', #08141e;
$c: 'Nyx8', #0f2a3f;
$c: 'Nyx8', #20394f;
$c: 'Nyx8', #f6d6bd;
$c: 'Nyx8', #c3a38a;
$c: 'Nyx8', #997577;
$c: 'Nyx8', #816271;
$c: 'Nyx8', #4e495f;
$c: 'check out lospec.com for more', ;
$c: 'Mystical Leaf', #f9e6cf;
$c: 'Mystical Leaf', #5ac54f;
$c: 'Mystical Leaf', #33984b;
$c: 'Mystical Leaf', #134c4c;
$c: 'Mystical Leaf', #0c2e44;
$c: 'check out lospec.com for more', ;
$c: 'SLSO8', #0d2b45;
$c: 'SLSO8', #203c56;
$c: 'SLSO8', #544e68;
$c: 'SLSO8', #8d697a;
$c: 'SLSO8', #d08159;
$c: 'SLSO8', #ffaa5e;
$c: 'SLSO8', #ffd4a3;
$c: 'SLSO8', #ffecd6;
$c: 'check out lospec.com for more', ;
$c: 'Twilight 5', #fbbbad;
$c: 'Twilight 5', #ee8695;
$c: 'Twilight 5', #4a7a96;
$c: 'Twilight 5', #333f58;
$c: 'Twilight 5', #292831;
$c: 'check out lospec.com for more', ;
$c: 'Calm Sunset', #684971;
$c: 'Calm Sunset', #a06389;
$c: 'Calm Sunset', #cb7ca2;
$c: 'Calm Sunset', #e1aea4;
$c: 'Calm Sunset', #f9d8a1;
$c: 'Calm Sunset', #ffecb2;
$c: 'Calm Sunset', #fffcf1;
$c: 'check out lospec.com for more', ;
$c: 'Ammo-8', #040c06;
$c: 'Ammo-8', #112318;
$c: 'Ammo-8', #1e3a29;
$c: 'Ammo-8', #305d42;
$c: 'Ammo-8', #4d8061;
$c: 'Ammo-8', #89a257;
$c: 'Ammo-8', #bedc7f;
$c: 'Ammo-8', #eeffcc;
$c: 'check out lospec.com for more', ;
$c: 'Space Haze', #f8e3c4;
$c: 'Space Haze', #cc3495;
$c: 'Space Haze', #6b1fb1;
$c: 'Space Haze', #0b0630;
$c: 'check out lospec.com for more', ;
$c: 'Comfort44S', #ededed;
$c: 'Comfort44S', #f7e5b2;
$c: 'Comfort44S', #fcc48d;
$c: 'Comfort44S', #e64e4b;
$c: 'Comfort44S', #984071;
$c: 'Comfort44S', #58307b;
$c: 'Comfort44S', #432776;
$c: 'Comfort44S', #3b265e;
$c: 'Comfort44S', #4f2e6b;
$c: 'Comfort44S', #943ca6;
$c: 'Comfort44S', #df529e;
$c: 'Comfort44S', #f49cae;
$c: 'Comfort44S', #f7d2bb;
$c: 'Comfort44S', #f4ce9f;
$c: 'Comfort44S', #ecaf83;
$c: 'Comfort44S', #dd8a5b;
$c: 'Comfort44S', #904a5d;
$c: 'Comfort44S', #5d375a;
$c: 'Comfort44S', #402b55;
$c: 'Comfort44S', #332d58;
$c: 'Comfort44S', #3b337a;
$c: 'Comfort44S', #3d3c93;
$c: 'Comfort44S', #5c55b7;
$c: 'Comfort44S', #a39bd6;
$c: 'Comfort44S', #c9c7ec;
$c: 'Comfort44S', #c0edef;
$c: 'Comfort44S', #8ed3dc;
$c: 'Comfort44S', #619cc3;
$c: 'Comfort44S', #397cbe;
$c: 'Comfort44S', #365a9b;
$c: 'Comfort44S', #2c4172;
$c: 'Comfort44S', #2f3f60;
$c: 'Comfort44S', #3f5d92;
$c: 'Comfort44S', #4e7a80;
$c: 'Comfort44S', #60b37e;
$c: 'Comfort44S', #b3daa3;
$c: 'Comfort44S', #cfe8b7;
$c: 'Comfort44S', #d2d2ba;
$c: 'Comfort44S', #bab59e;
$c: 'Comfort44S', #8b7c99;
$c: 'Comfort44S', #6a5c9d;
$c: 'Comfort44S', #4c428d;
$c: 'Comfort44S', #3a3487;
$c: 'Comfort44S', #31222c;
$c: 'check out lospec.com for more', ;
$c: 'Dreamscape8', #c9cca1;
$c: 'Dreamscape8', #caa05a;
$c: 'Dreamscape8', #ae6a47;
$c: 'Dreamscape8', #8b4049;
$c: 'Dreamscape8', #543344;
$c: 'Dreamscape8', #515262;
$c: 'Dreamscape8', #63787d;
$c: 'Dreamscape8', #8ea091;
$c: 'check out lospec.com for more', ;
$c: 'Oil 6', #fbf5ef;
$c: 'Oil 6', #f2d3ab;
$c: 'Oil 6', #c69fa5;
$c: 'Oil 6', #8b6d9c;
$c: 'Oil 6', #494d7e;
$c: 'Oil 6', #272744;
$c: 'check out lospec.com for more', ;
$c: 'Winterworld Wonderland', #20284e;
$c: 'Winterworld Wonderland', #2c4a78;
$c: 'Winterworld Wonderland', #3875a1;
$c: 'Winterworld Wonderland', #8bcadd;
$c: 'Winterworld Wonderland', #ffffff;
$c: 'Winterworld Wonderland', #d6e1e9;
$c: 'Winterworld Wonderland', #a7bcc9;
$c: 'Winterworld Wonderland', #738d9d;
$c: 'check out lospec.com for more', ;
$c: 'Sweet Canyon 32', #0f0e11;
$c: 'Sweet Canyon 32', #2d2c33;
$c: 'Sweet Canyon 32', #51545c;
$c: 'Sweet Canyon 32', #7c8389;
$c: 'Sweet Canyon 32', #a8b2b6;
$c: 'Sweet Canyon 32', #eeebe0;
$c: 'Sweet Canyon 32', #eec99f;
$c: 'Sweet Canyon 32', #e1a17e;
$c: 'Sweet Canyon 32', #cc9562;
$c: 'Sweet Canyon 32', #9a643a;
$c: 'Sweet Canyon 32', #783a29;
$c: 'Sweet Canyon 32', #541d29;
$c: 'Sweet Canyon 32', #782349;
$c: 'Sweet Canyon 32', #a93e89;
$c: 'Sweet Canyon 32', #d062c8;
$c: 'Sweet Canyon 32', #ec94ea;
$c: 'Sweet Canyon 32', #64e7e7;
$c: 'Sweet Canyon 32', #2fb6c3;
$c: 'Sweet Canyon 32', #25739d;
$c: 'Sweet Canyon 32', #214574;
$c: 'Sweet Canyon 32', #101445;
$c: 'Sweet Canyon 32', #3c0d3b;
$c: 'Sweet Canyon 32', #901f3d;
$c: 'Sweet Canyon 32', #bb3030;
$c: 'Sweet Canyon 32', #ec6a45;
$c: 'Sweet Canyon 32', #fb9b41;
$c: 'Sweet Canyon 32', #f0c04c;
$c: 'Sweet Canyon 32', #fffb76;
$c: 'Sweet Canyon 32', #97d948;
$c: 'Sweet Canyon 32', #6fba3b;
$c: 'Sweet Canyon 32', #229443;
$c: 'Sweet Canyon 32', #116548;
$c: 'check out lospec.com for more', ;
$c: 'Sweet Canyon Extended 64', #0f0e11;
$c: 'Sweet Canyon Extended 64', #2d2c33;
$c: 'Sweet Canyon Extended 64', #40404a;
$c: 'Sweet Canyon Extended 64', #51545c;
$c: 'Sweet Canyon Extended 64', #6b7179;
$c: 'Sweet Canyon Extended 64', #7c8389;
$c: 'Sweet Canyon Extended 64', #a8b2b6;
$c: 'Sweet Canyon Extended 64', #d5d5d5;
$c: 'Sweet Canyon Extended 64', #eeebe0;
$c: 'Sweet Canyon Extended 64', #f1dbb1;
$c: 'Sweet Canyon Extended 64', #eec99f;
$c: 'Sweet Canyon Extended 64', #e1a17e;
$c: 'Sweet Canyon Extended 64', #cc9562;
$c: 'Sweet Canyon Extended 64', #ab7b49;
$c: 'Sweet Canyon Extended 64', #9a643a;
$c: 'Sweet Canyon Extended 64', #86482f;
$c: 'Sweet Canyon Extended 64', #783a29;
$c: 'Sweet Canyon Extended 64', #6a3328;
$c: 'Sweet Canyon Extended 64', #541d29;
$c: 'Sweet Canyon Extended 64', #42192c;
$c: 'Sweet Canyon Extended 64', #512240;
$c: 'Sweet Canyon Extended 64', #782349;
$c: 'Sweet Canyon Extended 64', #8b2e5d;
$c: 'Sweet Canyon Extended 64', #a93e89;
$c: 'Sweet Canyon Extended 64', #d062c8;
$c: 'Sweet Canyon Extended 64', #ec94ea;
$c: 'Sweet Canyon Extended 64', #f2bdfc;
$c: 'Sweet Canyon Extended 64', #eaebff;
$c: 'Sweet Canyon Extended 64', #a2fafa;
$c: 'Sweet Canyon Extended 64', #64e7e7;
$c: 'Sweet Canyon Extended 64', #54cfd8;
$c: 'Sweet Canyon Extended 64', #2fb6c3;
$c: 'Sweet Canyon Extended 64', #2c89af;
$c: 'Sweet Canyon Extended 64', #25739d;
$c: 'Sweet Canyon Extended 64', #2a5684;
$c: 'Sweet Canyon Extended 64', #214574;
$c: 'Sweet Canyon Extended 64', #1f2966;
$c: 'Sweet Canyon Extended 64', #101445;
$c: 'Sweet Canyon Extended 64', #3c0d3b;
$c: 'Sweet Canyon Extended 64', #66164c;
$c: 'Sweet Canyon Extended 64', #901f3d;
$c: 'Sweet Canyon Extended 64', #bb3030;
$c: 'Sweet Canyon Extended 64', #dc473c;
$c: 'Sweet Canyon Extended 64', #ec6a45;
$c: 'Sweet Canyon Extended 64', #fb9b41;
$c: 'Sweet Canyon Extended 64', #f0c04c;
$c: 'Sweet Canyon Extended 64', #f4d66e;
$c: 'Sweet Canyon Extended 64', #fffb76;
$c: 'Sweet Canyon Extended 64', #ccf17a;
$c: 'Sweet Canyon Extended 64', #97d948;
$c: 'Sweet Canyon Extended 64', #6fba3b;
$c: 'Sweet Canyon Extended 64', #229443;
$c: 'Sweet Canyon Extended 64', #1d7e45;
$c: 'Sweet Canyon Extended 64', #116548;
$c: 'Sweet Canyon Extended 64', #0c4f3f;
$c: 'Sweet Canyon Extended 64', #0a3639;
$c: 'Sweet Canyon Extended 64', #251746;
$c: 'Sweet Canyon Extended 64', #48246d;
$c: 'Sweet Canyon Extended 64', #69189c;
$c: 'Sweet Canyon Extended 64', #9f20c0;
$c: 'Sweet Canyon Extended 64', #e527d2;
$c: 'Sweet Canyon Extended 64', #ff51cf;
$c: 'Sweet Canyon Extended 64', #ff7ada;
$c: 'Sweet Canyon Extended 64', #ff9edb;
$c: 'check out lospec.com for more', ;
$c: 'Basement Bio_Chem', #19152d;
$c: 'Basement Bio_Chem', #342a4c;
$c: 'Basement Bio_Chem', #424272;
$c: 'Basement Bio_Chem', #5c7677;
$c: 'Basement Bio_Chem', #7a9968;
$c: 'Basement Bio_Chem', #9abc51;
$c: 'Basement Bio_Chem', #b4cc49;
$c: 'Basement Bio_Chem', #e9ffbf;
$c: 'check out lospec.com for more', ;
$c: 'Infinite IKEA', #12223c;
$c: 'Infinite IKEA', #104a7d;
$c: 'Infinite IKEA', #45a9ff;
$c: 'Infinite IKEA', #f6d76b;
$c: 'Infinite IKEA', #f6f0f7;
$c: 'check out lospec.com for more', ;
$c: 'RKBV 2', #ffedf3;
$c: 'RKBV 2', #a9cbdb;
$c: 'RKBV 2', #3e8ab0;
$c: 'RKBV 2', #2f5d73;
$c: 'RKBV 2', #09151c;
$c: 'RKBV 2', #943e5b;
$c: 'RKBV 2', #e35f8b;
$c: 'RKBV 2', #f5bccf;