$c: 'CSS Tricks Background', #100e17;
$c: 'CSS Tricks Gradient', linear-gradient(to right,#ff8a00,#da1b60);
$c: 'CSS Tricks Orange', #ff8a00;
$c: 'CSS Tricks Pink', #da1b60;
$c: 'CSS Tricks Headline', white;
$c: 'CSS Tricks Text', #c2c2c2;
$c: '', ;
$c: 'Codepen Background', #1e1f26;
$c: 'Codepen Blue', #0ebeff;
$c: 'Codepen Green', #2fb45a;
$c: 'Codepen Grey', #444857;
$c: 'Codepen Text', white;
$c: '', ;
$c: 'Pingdom Yellow', #fff000;
$c: 'Pingdom Background', white;
$c: 'Pingdom Headline', #181818;
$c: 'Pingdom Text', #788487;