$c:	'https://www.pantone.com',;
$c:	'PMS Yellow C', #FEDD00;
$c:	'PMS Yellow 012 C', #FFD700;
$c:	'PMS Orange 021 C', #FE5000;
$c:	'PMS Warm Red C', #F9423A;
$c:	'PMS Red 032 C', #EF3340;
$c:	'PMS Rubine Red C', #CE0058;
$c:	'PMS Rhodamine Red C', #E10098;
$c:	'PMS Purple C', #BB29BB;
$c:	'PMS Violet C', #440099;
$c:	'PMS Blue 072 C', #10069F;
$c:	'PMS Reflex Blue C', #001489;
$c:	'PMS Process Blue C', #0085CA;
$c:	'PMS Green C', #00AB84;
$c:	'PMS Black C', #2D2926;
$c:	'PMS Yellow 0131 C', #F2F0A1;
$c:	'PMS Red 0331 C', #FCAEBB;
$c:	'PMS Magenta 0521 C', #F1B2DC;
$c:	'PMS Violet 0631 C', #BF9BDE;
$c:	'PMS Blue 0821 C', #74D1EA;
$c:	'PMS Green 0921 C', #9DE7D7;
$c:	'PMS Black 0961 C', #9E978E;
$c:	'PMS 801 C', #009ACE;
$c:	'PMS 802 C', #44D62C;
$c:	'PMS 803 C', #FFE900;
$c:	'PMS 804 C', #FFAA4D;
$c:	'PMS 805 C', #FF7276;
$c:	'PMS 806 C', #FF3EB5;
$c:	'PMS 807 C', #EA27C2;
$c:	'PMS 871 C', #84754E;
$c:	'PMS 872 C', #85714D;
$c:	'PMS 873 C', #866D4B;
$c:	'PMS 874 C', #8B6F4E;
$c:	'PMS 875 C', #87674F;
$c:	'PMS 876 C', #8B634B;
$c:	'PMS 877 C', #8A8D8F;
$c:	'PMS Medium Yellow C', #FFD900;
$c:	'PMS Bright Orange C', #FF5E00;
$c:	'PMS Bright Red C', #F93822;
$c:	'PMS Strong Red C', #CE0056;
$c:	'PMS Pink C', #D62598;
$c:	'PMS Medium Purple C', #4E008E;
$c:	'PMS Dark Blue C', #00239C;
$c:	'PMS Medium Blue C', #0084CA;
$c:	'PMS Bright Green C', #00B08B;
$c:	'PMS Neutral Black C', #222223;
$c:	'PMS 100 C', #F6EB61;
$c:	'PMS 101 C', #F7EA48;
$c:	'PMS 102 C', #FCE300;
$c:	'PMS 103 C', #C5A900;
$c:	'PMS 104 C', #AF9800;
$c:	'PMS 105 C', #897A27;
$c:	'PMS 7401 C', #F5E1A4;
$c:	'PMS 7402 C', #ECD898;
$c:	'PMS 7403 C', #EED484;
$c:	'PMS 7404 C', #F4DA40;
$c:	'PMS 7405 C', #F2CD00;
$c:	'PMS 7406 C', #F1C400;
$c:	'PMS 7407 C', #CBA052;
$c:	'PMS 106 C', #F9E547;
$c:	'PMS 107 C', #FBE122;
$c:	'PMS 108 C', #FEDB00;
$c:	'PMS 109 C', #FFD100;
$c:	'PMS 110 C', #DAAA00;
$c:	'PMS 111 C', #AA8A00;
$c:	'PMS 112 C', #9C8412;
$c:	'PMS 113 C', #FAE053;
$c:	'PMS 114 C', #FBDD40;
$c:	'PMS 115 C', #FDDA24;
$c:	'PMS 116 C', #FFCD00;
$c:	'PMS 117 C', #C99700;
$c:	'PMS 118 C', #AC8400;
$c:	'PMS 119 C', #897322;
$c:	'PMS 127 C', #F3DD6D;
$c:	'PMS 128 C', #F3D54E;
$c:	'PMS 129 C', #F3D03E;
$c:	'PMS 130 C', #F2A900;
$c:	'PMS 131 C', #CC8A00;
$c:	'PMS 132 C', #A07400;
$c:	'PMS 133 C', #6C571B;
$c:	'PMS 1205 C', #F8E08E;
$c:	'PMS 1215 C', #FBD872;
$c:	'PMS 1225 C', #FFC845;
$c:	'PMS 1235 C', #FFB81C;
$c:	'PMS 1245 C', #C69214;
$c:	'PMS 1255 C', #AD841F;
$c:	'PMS 1265 C', #886B25;
$c:	'PMS 120 C', #FBDB65;
$c:	'PMS 121 C', #FDD757;
$c:	'PMS 122 C', #FED141;
$c:	'PMS 123 C', #FFC72C;
$c:	'PMS 124 C', #EAAA00;
$c:	'PMS 125 C', #B58500;
$c:	'PMS 126 C', #9A7611;
$c:	'PMS 7548 C', #FFC600;
$c:	'PMS 7549 C', #FFB500;
$c:	'PMS 7550 C', #D19000;
$c:	'PMS 7551 C', #B47E00;
$c:	'PMS 7552 C', #73531D;
$c:	'PMS 7553 C', #5A4522;
$c:	'PMS 7554 C', #4B3D2A;
$c:	'PMS 7555 C', #D29F13;
$c:	'PMS 7556 C', #B78B20;
$c:	'PMS 7557 C', #9F7D23;
$c:	'PMS 7558 C', #967126;
$c:	'PMS 7559 C', #8F6A2A;
$c:	'PMS 7560 C', #7D622E;
$c:	'PMS 7561 C', #6C5D34;
$c:	'PMS 134 C', #FDD26E;
$c:	'PMS 135 C', #FFC658;
$c:	'PMS 136 C', #FFBF3F;
$c:	'PMS 137 C', #FFA300;
$c:	'PMS 138 C', #DE7C00;
$c:	'PMS 139 C', #AF6D04;
$c:	'PMS 140 C', #74531C;
$c:	'PMS 1345 C', #FDD086;
$c:	'PMS 1355 C', #FFC56E;
$c:	'PMS 1365 C', #FFB549;
$c:	'PMS 1375 C', #FF9E1B;
$c:	'PMS 1385 C', #D57800;
$c:	'PMS 1395 C', #996017;
$c:	'PMS 1405 C', #6E4C1E;
$c:	'PMS 141 C', #F2C75C;
$c:	'PMS 142 C', #F1BE48;
$c:	'PMS 143 C', #F1B434;
$c:	'PMS 144 C', #ED8B00;
$c:	'PMS 145 C', #CF7F00;
$c:	'PMS 146 C', #A76D11;
$c:	'PMS 147 C', #715C2A;
$c:	'PMS 7408 C', #F6BE00;
$c:	'PMS 7409 C', #F0B323;
$c:	'PMS 7410 C', #FEAD77;
$c:	'PMS 7411 C', #E6A65D;
$c:	'PMS 7412 C', #D38235;
$c:	'PMS 7413 C', #DC8633;
$c:	'PMS 7414 C', #C16C18;
$c:	'PMS 7562 C', #BD9B60;
$c:	'PMS 7563 C', #D69A2D;
$c:	'PMS 7564 C', #DB8A06;
$c:	'PMS 7565 C', #CD7925;
$c:	'PMS 7566 C', #AD6433;
$c:	'PMS 7567 C', #89532F;
$c:	'PMS 7568 C', #775135;
$c:	'PMS 7569 C', #D78825;
$c:	'PMS 7570 C', #D3832B;
$c:	'PMS 7571 C', #C67D30;
$c:	'PMS 7572 C', #B67233;
$c:	'PMS 7573 C', #A7662B;
$c:	'PMS 7574 C', #9E6A38;
$c:	'PMS 7575 C', #835D32;
$c:	'PMS 712 C', #FCC89B;
$c:	'PMS 713 C', #FDBE87;
$c:	'PMS 714 C', #FDAA63;
$c:	'PMS 715 C', #F68D2E;
$c:	'PMS 716 C', #EA7600;
$c:	'PMS 717 C', #D45D00;
$c:	'PMS 718 C', #BE4D00;
$c:	'PMS 148 C', #FECB8B;
$c:	'PMS 149 C', #FFC27B;
$c:	'PMS 150 C', #FFB25B;
$c:	'PMS 151 C', #FF8200;
$c:	'PMS 152 C', #E57200;
$c:	'PMS 153 C', #BE6A14;
$c:	'PMS 154 C', #9B5A1A;
$c:	'PMS 155 C', #EFD19F;
$c:	'PMS 156 C', #EFBE7D;
$c:	'PMS 157 C', #ECA154;
$c:	'PMS 158 C', #E87722;
$c:	'PMS 159 C', #CB6015;
$c:	'PMS 160 C', #A1561C;
$c:	'PMS 161 C', #603D20;
$c:	'PMS 1485 C', #FFAE62;
$c:	'PMS 1495 C', #FF8F1C;
$c:	'PMS 1505 C', #FF6900;
$c:	'PMS 1525 C', #B94700;
$c:	'PMS 1535 C', #94450B;
$c:	'PMS 1545 C', #653819;
$c:	'PMS 1555 C', #FFB990;
$c:	'PMS 1565 C', #FFA06A;
$c:	'PMS 1575 C', #FF7F32;
$c:	'PMS 1585 C', #FF6A13;
$c:	'PMS 1595 C', #D86018;
$c:	'PMS 1605 C', #A65523;
$c:	'PMS 1615 C', #8B4720;
$c:	'PMS 162 C', #FFBE9F;
$c:	'PMS 163 C', #FF9D6E;
$c:	'PMS 164 C', #FF7F41;
$c:	'PMS 165 C', #FF671F;
$c:	'PMS 166 C', #E35205;
$c:	'PMS 167 C', #BE531C;
$c:	'PMS 168 C', #73381D;
$c:	'PMS 7576 C', #DB864E;
$c:	'PMS 7577 C', #E07E3C;
$c:	'PMS 7578 C', #DC6B2F;
$c:	'PMS 7579 C', #DC582A;
$c:	'PMS 7580 C', #C05131;
$c:	'PMS 7581 C', #864A33;
$c:	'PMS 7582 C', #674736;
$c:	'PMS 1625 C', #FFA38B;
$c:	'PMS 1635 C', #FF8D6D;
$c:	'PMS 1645 C', #FF6A39;
$c:	'PMS 1655 C', #FC4C02;
$c:	'PMS 1665 C', #DC4405;
$c:	'PMS 1675 C', #A9431E;
$c:	'PMS 1685 C', #833921;
$c:	'PMS 169 C', #FFB3AB;
$c:	'PMS 170 C', #FF8674;
$c:	'PMS 171 C', #FF5C39;
$c:	'PMS 172 C', #FA4616;
$c:	'PMS 173 C', #CF4520;
$c:	'PMS 174 C', #963821;
$c:	'PMS 175 C', #6B3529;
$c:	'PMS 7583 C', #C4622D;
$c:	'PMS 7584 C', #BA5826;
$c:	'PMS 7585 C', #AF5C37;
$c:	'PMS 7586 C', #9E5330;
$c:	'PMS 7587 C', #924C2E;
$c:	'PMS 7588 C', #7B4D35;
$c:	'PMS 7589 C', #5C4738;
$c:	'PMS 7590 C', #D4B59E;
$c:	'PMS 7591 C', #C07D59;
$c:	'PMS 7592 C', #B15533;
$c:	'PMS 7593 C', #9D432C;
$c:	'PMS 7594 C', #7C3A2D;
$c:	'PMS 7595 C', #6B3D2E;
$c:	'PMS 7596 C', #5C3D31;
$c:	'PMS 7597 C', #D14124;
$c:	'PMS 7598 C', #BD472A;
$c:	'PMS 7599 C', #B33D26;
$c:	'PMS 7600 C', #8D3F2B;
$c:	'PMS 7601 C', #83412C;
$c:	'PMS 7602 C', #7B4931;
$c:	'PMS 7603 C', #674230;
$c:	'PMS 7604 C', #E4D5D3;
$c:	'PMS 7605 C', #E1BBB4;
$c:	'PMS 7606 C', #D6938A;
$c:	'PMS 7607 C', #C26E60;
$c:	'PMS 7608 C', #A4493D;
$c:	'PMS 7609 C', #823B34;
$c:	'PMS 7610 C', #683431;
$c:	'PMS 7611 C', #DDBCB0;
$c:	'PMS 7612 C', #CA9A8E;
$c:	'PMS 7613 C', #BC8A7E;
$c:	'PMS 7614 C', #A37F74;
$c:	'PMS 7615 C', #866761;
$c:	'PMS 7616 C', #6B4C4C;
$c:	'PMS 7617 C', #583D3E;
$c:	'PMS 7520 C', #EABEB0;
$c:	'PMS 7521 C', #C09C83;
$c:	'PMS 7522 C', #B46A55;
$c:	'PMS 7523 C', #AB5C57;
$c:	'PMS 7524 C', #A45248;
$c:	'PMS 7525 C', #9A6A4F;
$c:	'PMS 7526 C', #8A391B;
$c:	'PMS 489 C', #ECC3B2;
$c:	'PMS 488 C', #ECBAA8;
$c:	'PMS 487 C', #EAA794;
$c:	'PMS 486 C', #E8927C;
$c:	'PMS 485 C', #DA291C;
$c:	'PMS 484 C', #9A3324;
$c:	'PMS 483 C', #653024;
$c:	'PMS 176 C', #FFB1BB;
$c:	'PMS 177 C', #FF808B;
$c:	'PMS 178 C', #FF585D;
$c:	'PMS 179 C', #E03C31;
$c:	'PMS 180 C', #BE3A34;
$c:	'PMS 181 C', #81312F;
$c:	'PMS 1765 C', #FFA3B5;
$c:	'PMS 1775 C', #FF8DA1;
$c:	'PMS 1785 C', #F8485E;
$c:	'PMS 1788 C', #EE2737;
$c:	'PMS 1795 C', #D22630;
$c:	'PMS 1805 C', #AF272F;
$c:	'PMS 1815 C', #7C2529;
$c:	'PMS 1767 C', #FCAFC0;
$c:	'PMS 1777 C', #FB637E;
$c:	'PMS 1787 C', #F4364C;
$c:	'PMS 1797 C', #CB333B;
$c:	'PMS 1807 C', #A4343A;
$c:	'PMS 1817 C', #643335;
$c:	'PMS 7618 C', #C66E4E;
$c:	'PMS 7619 C', #C04C36;
$c:	'PMS 7620 C', #B7312C;
$c:	'PMS 7621 C', #AB2328;
$c:	'PMS 7622 C', #93272C;
$c:	'PMS 7623 C', #8A2A2B;
$c:	'PMS 7624 C', #802F2D;
$c:	'PMS 7625 C', #E1523D;
$c:	'PMS 7626 C', #C63527;
$c:	'PMS 7627 C', #A72B2A;
$c:	'PMS 7628 C', #9E2A2B;
$c:	'PMS 7629 C', #6D3332;
$c:	'PMS 7630 C', #633231;
$c:	'PMS 7631 C', #572D2D;
$c:	'PMS 7415 C', #E6BAA8;
$c:	'PMS 7416 C', #E56A54;
$c:	'PMS 7417 C', #E04E39;
$c:	'PMS 7418 C', #CD545B;
$c:	'PMS 7419 C', #B04A5A;
$c:	'PMS 7420 C', #9B2242;
$c:	'PMS 7421 C', #651D32;
$c:	'PMS 182 C', #FABBCB;
$c:	'PMS 183 C', #FC9BB3;
$c:	'PMS 184 C', #F65275;
$c:	'PMS 185 C', #E4002B;
$c:	'PMS 186 C', #C8102E;
$c:	'PMS 187 C', #A6192E;
$c:	'PMS 188 C', #76232F;
$c:	'PMS 196 C', #ECC7CD;
$c:	'PMS 197 C', #E89CAE;
$c:	'PMS 198 C', #DF4661;
$c:	'PMS 199 C', #D50032;
$c:	'PMS 200 C', #BA0C2F;
$c:	'PMS 201 C', #9D2235;
$c:	'PMS 202 C', #862633;
$c:	'PMS 189 C', #F8A3BC;
$c:	'PMS 190 C', #F67599;
$c:	'PMS 191 C', #EF426F;
$c:	'PMS 192 C', #E40046;
$c:	'PMS 193 C', #BF0D3E;
$c:	'PMS 194 C', #9B2743;
$c:	'PMS 195 C', #782F40;
$c:	'PMS 1895 C', #F5B6CD;
$c:	'PMS 1905 C', #F59BBB;
$c:	'PMS 1915 C', #EF4A81;
$c:	'PMS 1925 C', #E0004D;
$c:	'PMS 1935 C', #C5003E;
$c:	'PMS 1945 C', #A6093D;
$c:	'PMS 1955 C', #8A1538;
$c:	'PMS 705 C', #F5DADF;
$c:	'PMS 706 C', #F7CED7;
$c:	'PMS 707 C', #F9B5C4;
$c:	'PMS 708 C', #F890A5;
$c:	'PMS 709 C', #EF6079;
$c:	'PMS 710 C', #E03E52;
$c:	'PMS 711 C', #CB2C30;
$c:	'PMS 698 C', #F2D4D7;
$c:	'PMS 699 C', #F4C3CC;
$c:	'PMS 700 C', #F2ACB9;
$c:	'PMS 701 C', #E68699;
$c:	'PMS 702 C', #D25B73;
$c:	'PMS 703 C', #B83A4B;
$c:	'PMS 704 C', #9E2A2F;
$c:	'PMS 203 C', #ECB3CB;
$c:	'PMS 204 C', #E782A9;
$c:	'PMS 205 C', #E0457B;
$c:	'PMS 206 C', #CE0037;
$c:	'PMS 207 C', #A50034;
$c:	'PMS 208 C', #861F41;
$c:	'PMS 209 C', #6F263D;
$c:	'PMS 210 C', #F99FC9;
$c:	'PMS 211 C', #F57EB6;
$c:	'PMS 212 C', #F04E98;
$c:	'PMS 213 C', #E31C79;
$c:	'PMS 214 C', #CE0F69;
$c:	'PMS 215 C', #AC145A;
$c:	'PMS 216 C', #7D2248;
$c:	'PMS 7422 C', #F4CDD4;
$c:	'PMS 7423 C', #E06287;
$c:	'PMS 7424 C', #E24585;
$c:	'PMS 7425 C', #B52555;
$c:	'PMS 7426 C', #A4123F;
$c:	'PMS 7427 C', #971B2F;
$c:	'PMS 7428 C', #6A2C3E;
$c:	'PMS 7632 C', #D6C9CA;
$c:	'PMS 7633 C', #C4A4A7;
$c:	'PMS 7634 C', #C16784;
$c:	'PMS 7635 C', #C63663;
$c:	'PMS 7636 C', #BC204B;
$c:	'PMS 7637 C', #912F46;
$c:	'PMS 7638 C', #7E2D40;
$c:	'PMS 217 C', #EABEDB;
$c:	'PMS 218 C', #E56DB1;
$c:	'PMS 219 C', #DA1884;
$c:	'PMS 220 C', #A50050;
$c:	'PMS 221 C', #910048;
$c:	'PMS 222 C', #6C1D45;
$c:	'PMS 7639 C', #936D73;
$c:	'PMS 7640 C', #934054;
$c:	'PMS 7641 C', #8E2C48;
$c:	'PMS 7642 C', #732E4A;
$c:	'PMS 7643 C', #672E45;
$c:	'PMS 7644 C', #582D40;
$c:	'PMS 7645 C', #502B3A;
$c:	'PMS 223 C', #EF95CF;
$c:	'PMS 224 C', #EB6FBD;
$c:	'PMS 225 C', #DF1995;
$c:	'PMS 226 C', #D0006F;
$c:	'PMS 227 C', #AA0061;
$c:	'PMS 228 C', #890C58;
$c:	'PMS 229 C', #672146;
$c:	'PMS 230 C', #F4A6D7;
$c:	'PMS 231 C', #F277C6;
$c:	'PMS 232 C', #E93CAC;
$c:	'PMS 233 C', #C6007E;
$c:	'PMS 234 C', #A20067;
$c:	'PMS 235 C', #840B55;
$c:	'PMS 670 C', #EAD3E2;
$c:	'PMS 671 C', #E6BCD8;
$c:	'PMS 672 C', #DFA0C9;
$c:	'PMS 673 C', #D986BA;
$c:	'PMS 674 C', #C6579A;
$c:	'PMS 675 C', #AE2573;
$c:	'PMS 676 C', #960051;
$c:	'PMS 677 C', #E5CEDB;
$c:	'PMS 678 C', #E3C8D8;
$c:	'PMS 679 C', #DEBED2;
$c:	'PMS 680 C', #C996B6;
$c:	'PMS 681 C', #B06C96;
$c:	'PMS 682 C', #994878;
$c:	'PMS 683 C', #7C2855;
$c:	'PMS 684 C', #E4C6D4;
$c:	'PMS 685 C', #DCB6C9;
$c:	'PMS 686 C', #D0A1BA;
$c:	'PMS 687 C', #BE84A3;
$c:	'PMS 688 C', #A76389;
$c:	'PMS 689 C', #893B67;
$c:	'PMS 690 C', #612141;
$c:	'PMS 510 C', #EBBECB;
$c:	'PMS 509 C', #E8B3C3;
$c:	'PMS 508 C', #E4A9BB;
$c:	'PMS 507 C', #D592AA;
$c:	'PMS 506 C', #84344E;
$c:	'PMS 505 C', #6F2C3F;
$c:	'PMS 504 C', #572932;
$c:	'PMS 7429 C', #E2BCCB;
$c:	'PMS 7430 C', #DCA9BF;
$c:	'PMS 7431 C', #C9809E;
$c:	'PMS 7432 C', #B55C80;
$c:	'PMS 7433 C', #A73A64;
$c:	'PMS 7434 C', #9B3259;
$c:	'PMS 7435 C', #872651;
$c:	'PMS 691 C', #E9CDD0;
$c:	'PMS 692 C', #E4BEC3;
$c:	'PMS 693 C', #D7A3AB;
$c:	'PMS 694 C', #C48490;
$c:	'PMS 695 C', #B46B7A;
$c:	'PMS 696 C', #984856;
$c:	'PMS 697 C', #893C47;
$c:	'PMS 496 C', #F2C6CF;
$c:	'PMS 495 C', #F1BDC8;
$c:	'PMS 494 C', #E9A2B2;
$c:	'PMS 493 C', #DC8699;
$c:	'PMS 492 C', #8F3237;
$c:	'PMS 491 C', #7F3035;
$c:	'PMS 490 C', #5D2A2C;
$c:	'PMS 503 C', #E9C4C7;
$c:	'PMS 502 C', #E5BAC1;
$c:	'PMS 501 C', #DAA5AD;
$c:	'PMS 500 C', #C6858F;
$c:	'PMS 499 C', #7A3E3A;
$c:	'PMS 498 C', #6A3735;
$c:	'PMS 497 C', #512F2E;
$c:	'PMS 5035 C', #DFC2C3;
$c:	'PMS 5025 C', #DBB7BB;
$c:	'PMS 5015 C', #CCA1A6;
$c:	'PMS 5005 C', #B07C83;
$c:	'PMS 4995 C', #9C6169;
$c:	'PMS 4985 C', #874B52;
$c:	'PMS 4975 C', #3F2021;
$c:	'PMS 236 C', #F1A7DC;
$c:	'PMS 237 C', #EC86D0;
$c:	'PMS 238 C', #E45DBF;
$c:	'PMS 239 C', #DB3EB1;
$c:	'PMS 240 C', #C5299B;
$c:	'PMS 241 C', #AF1685;
$c:	'PMS 242 C', #80225F;
$c:	'PMS 2365 C', #EFBAE1;
$c:	'PMS 2375 C', #E277CD;
$c:	'PMS 2385 C', #D539B5;
$c:	'PMS 2395 C', #C800A1;
$c:	'PMS 2405 C', #B0008E;
$c:	'PMS 2415 C', #9E007E;
$c:	'PMS 2425 C', #830065;
$c:	'PMS 243 C', #EAB8E4;
$c:	'PMS 244 C', #E59BDC;
$c:	'PMS 245 C', #DD7FD3;
$c:	'PMS 246 C', #C724B1;
$c:	'PMS 247 C', #BB16A3;
$c:	'PMS 248 C', #A51890;
$c:	'PMS 249 C', #80276C;
$c:	'PMS 7646 C', #A56E87;
$c:	'PMS 7647 C', #A83D72;
$c:	'PMS 7648 C', #991E66;
$c:	'PMS 7649 C', #8A1B61;
$c:	'PMS 7650 C', #722257;
$c:	'PMS 7651 C', #6A2A5B;
$c:	'PMS 7652 C', #5E2751;
$c:	'PMS 250 C', #E7BAE4;
$c:	'PMS 251 C', #DD9CDF;
$c:	'PMS 252 C', #C964CF;
$c:	'PMS 253 C', #AD1AAC;
$c:	'PMS 254 C', #981D97;
$c:	'PMS 255 C', #72246C;
$c:	'PMS 517 C', #EBC6DF;
$c:	'PMS 516 C', #E6BEDD;
$c:	'PMS 515 C', #E2ACD7;
$c:	'PMS 514 C', #D48BC8;
$c:	'PMS 513 C', #93328E;
$c:	'PMS 512 C', #833177;
$c:	'PMS 511 C', #612C51;
$c:	'PMS 7436 C', #EEDAEA;
$c:	'PMS 7437 C', #CCAED0;
$c:	'PMS 7438 C', #D59ED7;
$c:	'PMS 7439 C', #B288B9;
$c:	'PMS 7440 C', #A277A6;
$c:	'PMS 7441 C', #9F5CC0;
$c:	'PMS 7442 C', #963CBD;
$c:	'PMS 2562 C', #D7A9E3;
$c:	'PMS 2572 C', #C98BDB;
$c:	'PMS 2582 C', #AC4FC6;
$c:	'PMS 2592 C', #9B26B6;
$c:	'PMS 2602 C', #87189D;
$c:	'PMS 2612 C', #772583;
$c:	'PMS 2622 C', #653165;
$c:	'PMS 7653 C', #948794;
$c:	'PMS 7654 C', #A2789C;
$c:	'PMS 7655 C', #A15A95;
$c:	'PMS 7656 C', #8E3A80;
$c:	'PMS 7657 C', #6E2B62;
$c:	'PMS 7658 C', #6A3460;
$c:	'PMS 7659 C', #5D3754;
$c:	'PMS 524 C', #D5C2D8;
$c:	'PMS 523 C', #C9B1D0;
$c:	'PMS 522 C', #BA9CC5;
$c:	'PMS 521 C', #A57FB2;
$c:	'PMS 520 C', #642F6C;
$c:	'PMS 519 C', #59315F;
$c:	'PMS 518 C', #4B3048;
$c:	'PMS 5245 C', #DBCDD3;
$c:	'PMS 5235 C', #D0BEC7;
$c:	'PMS 5225 C', #C6B0BC;
$c:	'PMS 5215 C', #AF95A6;
$c:	'PMS 5205 C', #86647A;
$c:	'PMS 5195 C', #66435A;
$c:	'PMS 5185 C', #4A3041;
$c:	'PMS 5175 C', #D8C8D1;
$c:	'PMS 5165 C', #D3C0CD;
$c:	'PMS 5155 C', #BFA5B8;
$c:	'PMS 5145 C', #9B7793;
$c:	'PMS 5135 C', #7E5475;
$c:	'PMS 5125 C', #693C5E;
$c:	'PMS 5115 C', #512A44;
$c:	'PMS 531 C', #DFC8E7;
$c:	'PMS 530 C', #D7B9E4;
$c:	'PMS 529 C', #CAA2DD;
$c:	'PMS 528 C', #B580D1;
$c:	'PMS 527 C', #8031A7;
$c:	'PMS 526 C', #702F8A;
$c:	'PMS 525 C', #572C5F;
$c:	'PMS 256 C', #D6BFDD;
$c:	'PMS 257 C', #C6A1CF;
$c:	'PMS 258 C', #8C4799;
$c:	'PMS 259 C', #6D2077;
$c:	'PMS 260 C', #642667;
$c:	'PMS 261 C', #5D285F;
$c:	'PMS 262 C', #51284F;
$c:	'PMS 2563 C', #CBA3D8;
$c:	'PMS 2573 C', #B884CB;
$c:	'PMS 2583 C', #A05EB5;
$c:	'PMS 2593 C', #84329B;
$c:	'PMS 2603 C', #702082;
$c:	'PMS 2613 C', #671E75;
$c:	'PMS 2623 C', #5F2167;
$c:	'PMS 7660 C', #9991A4;
$c:	'PMS 7661 C', #8D6E97;
$c:	'PMS 7662 C', #7A4183;
$c:	'PMS 7663 C', #6B3077;
$c:	'PMS 7664 C', #653279;
$c:	'PMS 7665 C', #5E366E;
$c:	'PMS 7666 C', #5C4E63;
$c:	'PMS 2567 C', #C1A0DA;
$c:	'PMS 2577 C', #A77BCA;
$c:	'PMS 2587 C', #8246AF;
$c:	'PMS 2597 C', #5C068C;
$c:	'PMS 2607 C', #500778;
$c:	'PMS 2617 C', #470A68;
$c:	'PMS 2627 C', #3C1053;
$c:	'PMS 263 C', #D7C6E6;
$c:	'PMS 264 C', #C1A7E2;
$c:	'PMS 265 C', #9063CD;
$c:	'PMS 266 C', #753BBD;
$c:	'PMS 267 C', #5F259F;
$c:	'PMS 268 C', #582C83;
$c:	'PMS 269 C', #512D6D;
$c:	'PMS 2635 C', #C5B4E3;
$c:	'PMS 2645 C', #AD96DC;
$c:	'PMS 2655 C', #9678D3;
$c:	'PMS 2665 C', #7D55C7;
$c:	'PMS 2685 C', #330072;
$c:	'PMS 2695 C', #2E1A47;
$c:	'PMS 270 C', #B4B5DF;
$c:	'PMS 271 C', #9595D2;
$c:	'PMS 272 C', #7474C1;
$c:	'PMS 273 C', #24135F;
$c:	'PMS 274 C', #211551;
$c:	'PMS 275 C', #201747;
$c:	'PMS 276 C', #221C35;
$c:	'PMS 2705 C', #A7A4E0;
$c:	'PMS 2715 C', #8B84D7;
$c:	'PMS 2725 C', #685BC7;
$c:	'PMS 2735 C', #2E008B;
$c:	'PMS 2745 C', #280071;
$c:	'PMS 2755 C', #250E62;
$c:	'PMS 2765 C', #201547;
$c:	'PMS 7667 C', #6E7CA0;
$c:	'PMS 7668 C', #686E9F;
$c:	'PMS 7669 C', #615E9B;
$c:	'PMS 7670 C', #565294;
$c:	'PMS 7671 C', #514689;
$c:	'PMS 7672 C', #4C4184;
$c:	'PMS 7673 C', #535486;
$c:	'PMS 7443 C', #DDDAE8;
$c:	'PMS 7444 C', #B6B8DC;
$c:	'PMS 7445 C', #A7A2C3;
$c:	'PMS 7446 C', #8986CA;
$c:	'PMS 7447 C', #5D4777;
$c:	'PMS 7448 C', #4B384C;
$c:	'PMS 7449 C', #41273B;
$c:	'PMS 7674 C', #878CB4;
$c:	'PMS 7675 C', #7C7FAB;
$c:	'PMS 7676 C', #7566A0;
$c:	'PMS 7677 C', #6F5091;
$c:	'PMS 7678 C', #68478D;
$c:	'PMS 7679 C', #563D82;
$c:	'PMS 7680 C', #523178;
$c:	'PMS 663 C', #E5E1E6;
$c:	'PMS 664 C', #E0DBE3;
$c:	'PMS 665 C', #C6BCD0;
$c:	'PMS 666 C', #A192B2;
$c:	'PMS 667 C', #7C6992;
$c:	'PMS 668 C', #614B79;
$c:	'PMS 669 C', #3F2A56;
$c:	'PMS 5315 C', #D8D7DF;
$c:	'PMS 5305 C', #C6C4D2;
$c:	'PMS 5295 C', #B3B0C4;
$c:	'PMS 5285 C', #8D89A5;
$c:	'PMS 5275 C', #595478;
$c:	'PMS 5265 C', #403A60;
$c:	'PMS 5255 C', #1E1A34;
$c:	'PMS 538 C', #C5CFDA;
$c:	'PMS 537 C', #BBC7D6;
$c:	'PMS 536 C', #A2B2C8;
$c:	'PMS 535 C', #8E9FBC;
$c:	'PMS 534 C', #1B365D;
$c:	'PMS 533 C', #1F2A44;
$c:	'PMS 532 C', #1C1F2A;
$c:	'PMS 7541 C', #D9E1E2;
$c:	'PMS 7542 C', #A4BCC2;
$c:	'PMS 7543 C', #98A4AE;
$c:	'PMS 7544 C', #768692;
$c:	'PMS 7545 C', #425563;
$c:	'PMS 7546 C', #253746;
$c:	'PMS 7547 C', #131E29;
$c:	'PMS 552 C', #B9D3DC;
$c:	'PMS 551 C', #A3C7D2;
$c:	'PMS 550 C', #8DB9CA;
$c:	'PMS 549 C', #6BA4B8;
$c:	'PMS 548 C', #003D4C;
$c:	'PMS 547 C', #00313C;
$c:	'PMS 546 C', #072B31;
$c:	'PMS 5455 C', #BFCED6;
$c:	'PMS 5445 C', #B7C9D3;
$c:	'PMS 5435 C', #A6BBC8;
$c:	'PMS 5425 C', #7A99AC;
$c:	'PMS 5415 C', #5B7F95;
$c:	'PMS 5405 C', #4F758B;
$c:	'PMS 5395 C', #081F2C;
$c:	'PMS 642 C', #D1DDE6;
$c:	'PMS 643 C', #C6D6E3;
$c:	'PMS 644 C', #9BB8D3;
$c:	'PMS 645 C', #7DA1C4;
$c:	'PMS 646 C', #5E8AB4;
$c:	'PMS 647 C', #236192;
$c:	'PMS 648 C', #002E5D;
$c:	'PMS 649 C', #DBE2E9;
$c:	'PMS 650 C', #CED9E5;
$c:	'PMS 651 C', #A7BCD6;
$c:	'PMS 652 C', #7D9BC1;
$c:	'PMS 653 C', #326295;
$c:	'PMS 654 C', #003A70;
$c:	'PMS 655 C', #002554;
$c:	'PMS 656 C', #DDE5ED;
$c:	'PMS 657 C', #C8D8EB;
$c:	'PMS 658 C', #B1C9E8;
$c:	'PMS 659 C', #7BA4DB;
$c:	'PMS 660 C', #407EC9;
$c:	'PMS 661 C', #003594;
$c:	'PMS 662 C', #001A70;
$c:	'PMS 7450 C', #BDC5DB;
$c:	'PMS 7451 C', #89ABE3;
$c:	'PMS 7452 C', #8094DD;
$c:	'PMS 7453 C', #7BA6DE;
$c:	'PMS 7454 C', #5F8FB4;
$c:	'PMS 7455 C', #3A5DAE;
$c:	'PMS 7456 C', #606EB2;
$c:	'PMS 2706 C', #CBD3EB;
$c:	'PMS 2716 C', #9FAEE5;
$c:	'PMS 2726 C', #485CC7;
$c:	'PMS 2736 C', #1E22AA;
$c:	'PMS 2746 C', #171C8F;
$c:	'PMS 2756 C', #151F6D;
$c:	'PMS 2766 C', #141B4D;
$c:	'PMS 2708 C', #B8CCEA;
$c:	'PMS 2718 C', #5C88DA;
$c:	'PMS 2728 C', #0047BB;
$c:	'PMS 2738 C', #06038D;
$c:	'PMS 2748 C', #001871;
$c:	'PMS 2758 C', #001E62;
$c:	'PMS 2768 C', #071D49;
$c:	'PMS 2707 C', #C3D7EE;
$c:	'PMS 2717 C', #A7C6ED;
$c:	'PMS 2727 C', #307FE2;
$c:	'PMS 2747 C', #001A72;
$c:	'PMS 2757 C', #001E60;
$c:	'PMS 2767 C', #13294B;
$c:	'PMS 277 C', #ABCAE9;
$c:	'PMS 278 C', #8BB8E8;
$c:	'PMS 279 C', #418FDE;
$c:	'PMS 280 C', #012169;
$c:	'PMS 281 C', #00205B;
$c:	'PMS 282 C', #041E42;
$c:	'PMS 283 C', #92C1E9;
$c:	'PMS 284 C', #6CACE4;
$c:	'PMS 285 C', #0072CE;
$c:	'PMS 286 C', #0033A0;
$c:	'PMS 287 C', #003087;
$c:	'PMS 288 C', #002D72;
$c:	'PMS 289 C', #0C2340;
$c:	'PMS 7681 C', #94A9CB;
$c:	'PMS 7682 C', #6787B7;
$c:	'PMS 7683 C', #426DA9;
$c:	'PMS 7684 C', #385E9D;
$c:	'PMS 7685 C', #2C5697;
$c:	'PMS 7686 C', #1D4F91;
$c:	'PMS 7687 C', #1D428A;
$c:	'PMS 545 C', #C6DAE7;
$c:	'PMS 544 C', #BDD6E6;
$c:	'PMS 543 C', #A4C8E1;
$c:	'PMS 542 C', #7BAFD4;
$c:	'PMS 541 C', #003C71;
$c:	'PMS 540 C', #003057;
$c:	'PMS 539 C', #00263A;
$c:	'PMS 290 C', #B9D9EB;
$c:	'PMS 291 C', #9BCBEB;
$c:	'PMS 292 C', #69B3E7;
$c:	'PMS 293 C', #003DA5;
$c:	'PMS 294 C', #002F6C;
$c:	'PMS 295 C', #002855;
$c:	'PMS 296 C', #041C2C;
$c:	'PMS 2905 C', #8DC8E8;
$c:	'PMS 2915 C', #62B5E5;
$c:	'PMS 2925 C', #009CDE;
$c:	'PMS 2935 C', #0057B8;
$c:	'PMS 2945 C', #004C97;
$c:	'PMS 2955 C', #003865;
$c:	'PMS 2965 C', #00263E;
$c:	'PMS 297 C', #71C5E8;
$c:	'PMS 298 C', #41B6E6;
$c:	'PMS 299 C', #00A3E0;
$c:	'PMS 300 C', #005EB8;
$c:	'PMS 301 C', #004B87;
$c:	'PMS 302 C', #003B5C;
$c:	'PMS 303 C', #002A3A;
$c:	'PMS 7688 C', #4698CB;
$c:	'PMS 7689 C', #298FC2;
$c:	'PMS 7690 C', #0076A8;
$c:	'PMS 7691 C', #006298;
$c:	'PMS 7692 C', #005587;
$c:	'PMS 7693 C', #004976;
$c:	'PMS 7694 C', #01426A;
$c:	'PMS 2975 C', #99D6EA;
$c:	'PMS 2985 C', #5BC2E7;
$c:	'PMS 2995 C', #00A9E0;
$c:	'PMS 3005 C', #0077C8;
$c:	'PMS 3015 C', #00629B;
$c:	'PMS 3025 C', #004F71;
$c:	'PMS 3035 C', #003E51;
$c:	'PMS 7695 C', #7BA7BC;
$c:	'PMS 7696 C', #6399AE;
$c:	'PMS 7697 C', #4E87A0;
$c:	'PMS 7698 C', #41748D;
$c:	'PMS 7699 C', #34657F;
$c:	'PMS 7700 C', #165C7D;
$c:	'PMS 7701 C', #005776;
$c:	'PMS 7457 C', #BBDDE6;
$c:	'PMS 7458 C', #71B2C9;
$c:	'PMS 7459 C', #4298B5;
$c:	'PMS 7460 C', #0086BF;
$c:	'PMS 7461 C', #007DBA;
$c:	'PMS 7462 C', #00558C;
$c:	'PMS 7463 C', #002B49;
$c:	'PMS 304 C', #9ADBE8;
$c:	'PMS 305 C', #59CBE8;
$c:	'PMS 306 C', #00B5E2;
$c:	'PMS 307 C', #006BA6;
$c:	'PMS 308 C', #00587C;
$c:	'PMS 309 C', #003B49;
$c:	'PMS 635 C', #A4DBE8;
$c:	'PMS 636 C', #8BD3E6;
$c:	'PMS 637 C', #4EC3E0;
$c:	'PMS 638 C', #00AFD7;
$c:	'PMS 639 C', #0095C8;
$c:	'PMS 640 C', #0082BA;
$c:	'PMS 641 C', #0067A0;
$c:	'PMS 7702 C', #48A9C5;
$c:	'PMS 7703 C', #009CBD;
$c:	'PMS 7704 C', #0085AD;
$c:	'PMS 7705 C', #007096;
$c:	'PMS 7706 C', #006A8E;
$c:	'PMS 7707 C', #00617F;
$c:	'PMS 7708 C', #005670;
$c:	'PMS 628 C', #B8DDE1;
$c:	'PMS 629 C', #9BD3DD;
$c:	'PMS 630 C', #77C5D5;
$c:	'PMS 631 C', #3EB1C8;
$c:	'PMS 632 C', #0093B2;
$c:	'PMS 633 C', #007396;
$c:	'PMS 634 C', #005F83;
$c:	'PMS 310 C', #6AD1E3;
$c:	'PMS 311 C', #05C3DE;
$c:	'PMS 312 C', #00A9CE;
$c:	'PMS 313 C', #0092BC;
$c:	'PMS 314 C', #007FA3;
$c:	'PMS 315 C', #00677F;
$c:	'PMS 316 C', #004851;
$c:	'PMS 3105 C', #68D2DF;
$c:	'PMS 3115 C', #00C1D5;
$c:	'PMS 3125 C', #00AEC7;
$c:	'PMS 3135 C', #008EAA;
$c:	'PMS 3145 C', #00778B;
$c:	'PMS 3155 C', #006272;
$c:	'PMS 3165 C', #004F59;
$c:	'PMS 7709 C', #63B1BC;
$c:	'PMS 7710 C', #00A7B5;
$c:	'PMS 7711 C', #0097A9;
$c:	'PMS 7712 C', #00859B;
$c:	'PMS 7713 C', #007D8A;
$c:	'PMS 7714 C', #007680;
$c:	'PMS 7715 C', #006269;
$c:	'PMS 317 C', #B1E4E3;
$c:	'PMS 318 C', #88DBDF;
$c:	'PMS 319 C', #2DCCD3;
$c:	'PMS 320 C', #009CA6;
$c:	'PMS 321 C', #008C95;
$c:	'PMS 322 C', #007377;
$c:	'PMS 323 C', #005F61;
$c:	'PMS 7464 C', #A0D1CA;
$c:	'PMS 7465 C', #40C1AC;
$c:	'PMS 7466 C', #00B0B9;
$c:	'PMS 7467 C', #00A3AD;
$c:	'PMS 7468 C', #007398;
$c:	'PMS 7469 C', #005F86;
$c:	'PMS 7470 C', #005A70;
$c:	'PMS 7471 C', #7EDDD3;
$c:	'PMS 7472 C', #5CB8B2;
$c:	'PMS 7473 C', #279989;
$c:	'PMS 7474 C', #007681;
$c:	'PMS 7475 C', #487A7B;
$c:	'PMS 7476 C', #0D5257;
$c:	'PMS 7477 C', #244C5A;
$c:	'PMS 5523 C', #B6CFD0;
$c:	'PMS 5513 C', #ABC7CA;
$c:	'PMS 5503 C', #94B7BB;
$c:	'PMS 5493 C', #7FA9AE;
$c:	'PMS 5483 C', #4F868E;
$c:	'PMS 5473 C', #115E67;
$c:	'PMS 5463 C', #07272D;
$c:	'PMS 7716 C', #00968F;
$c:	'PMS 7717 C', #00857D;
$c:	'PMS 7718 C', #007672;
$c:	'PMS 7719 C', #006D68;
$c:	'PMS 7720 C', #00635B;
$c:	'PMS 7721 C', #005E5D;
$c:	'PMS 7722 C', #005151;
$c:	'PMS 324 C', #9CDBD9;
$c:	'PMS 325 C', #64CCC9;
$c:	'PMS 326 C', #00B2A9;
$c:	'PMS 327 C', #008675;
$c:	'PMS 328 C', #007367;
$c:	'PMS 329 C', #00685E;
$c:	'PMS 330 C', #00534C;
$c:	'PMS 3242 C', #71DBD4;
$c:	'PMS 3252 C', #2AD2C9;
$c:	'PMS 3262 C', #00BFB3;
$c:	'PMS 3272 C', #00A499;
$c:	'PMS 3282 C', #008578;
$c:	'PMS 3292 C', #00594F;
$c:	'PMS 3302 C', #004C45;
$c:	'PMS 3245 C', #7CE0D3;
$c:	'PMS 3255 C', #2CD5C4;
$c:	'PMS 3265 C', #00C7B1;
$c:	'PMS 3275 C', #00B398;
$c:	'PMS 3285 C', #009681;
$c:	'PMS 3295 C', #007864;
$c:	'PMS 3305 C', #004E42;
$c:	'PMS 3248 C', #6DCDB8;
$c:	'PMS 3258 C', #49C5B1;
$c:	'PMS 3268 C', #00AB8E;
$c:	'PMS 3278 C', #009B77;
$c:	'PMS 3288 C', #008264;
$c:	'PMS 3298 C', #006A52;
$c:	'PMS 3308 C', #034638;
$c:	'PMS 566 C', #B9DCD2;
$c:	'PMS 565 C', #A1D6CA;
$c:	'PMS 564 C', #86C8BC;
$c:	'PMS 563 C', #6BBBAE;
$c:	'PMS 562 C', #006F62;
$c:	'PMS 561 C', #00594C;
$c:	'PMS 560 C', #1D3C34;
$c:	'PMS 573 C', #B5E3D8;
$c:	'PMS 572 C', #A5DFD3;
$c:	'PMS 571 C', #98DBCE;
$c:	'PMS 570 C', #6BCABA;
$c:	'PMS 569 C', #00816D;
$c:	'PMS 568 C', #006C5B;
$c:	'PMS 567 C', #173F35;
$c:	'PMS 559 C', #ADCAB8;
$c:	'PMS 558 C', #9ABEAA;
$c:	'PMS 557 C', #85B09A;
$c:	'PMS 556 C', #6FA287;
$c:	'PMS 555 C', #28724F;
$c:	'PMS 554 C', #205C40;
$c:	'PMS 553 C', #284734;
$c:	'PMS 5595 C', #BFCEC2;
$c:	'PMS 5585 C', #A7BDB1;
$c:	'PMS 5575 C', #92ACA0;
$c:	'PMS 5565 C', #7F9C90;
$c:	'PMS 5555 C', #5C7F71;
$c:	'PMS 5545 C', #43695B;
$c:	'PMS 5535 C', #183028;
$c:	'PMS 5665 C', #BAC5B9;
$c:	'PMS 5655 C', #B0BDB0;
$c:	'PMS 5645 C', #A3B2A4;
$c:	'PMS 5635 C', #94A596;
$c:	'PMS 5625 C', #708573;
$c:	'PMS 5615 C', #5E7461;
$c:	'PMS 5605 C', #22372B;
$c:	'PMS 5527 C', #BCC9C5;
$c:	'PMS 5517 C', #B1C0BC;
$c:	'PMS 5507 C', #9DB0AC;
$c:	'PMS 5497 C', #829995;
$c:	'PMS 5487 C', #5D7975;
$c:	'PMS 5477 C', #3E5D58;
$c:	'PMS 5467 C', #18332F;
$c:	'PMS 621 C', #D1E0D7;
$c:	'PMS 622 C', #B7CDC2;
$c:	'PMS 623 C', #9AB9AD;
$c:	'PMS 624 C', #789F90;
$c:	'PMS 625 C', #507F70;
$c:	'PMS 626 C', #285C4D;
$c:	'PMS 627 C', #13322B;
$c:	'PMS 331 C', #A7E6D7;
$c:	'PMS 332 C', #8CE2D0;
$c:	'PMS 333 C', #3CDBC0;
$c:	'PMS 334 C', #009775;
$c:	'PMS 335 C', #007B5F;
$c:	'PMS 336 C', #00664F;
$c:	'PMS 337 C', #8FD6BD;
$c:	'PMS 338 C', #6ECEB2;
$c:	'PMS 339 C', #00B388;
$c:	'PMS 340 C', #00965E;
$c:	'PMS 341 C', #007A53;
$c:	'PMS 342 C', #006747;
$c:	'PMS 343 C', #115740;
$c:	'PMS 7723 C', #50A684;
$c:	'PMS 7724 C', #00966C;
$c:	'PMS 7725 C', #008755;
$c:	'PMS 7726 C', #007B4B;
$c:	'PMS 7727 C', #006F44;
$c:	'PMS 7728 C', #006845;
$c:	'PMS 7729 C', #005844;
$c:	'PMS 3375 C', #7AE1BF;
$c:	'PMS 3385 C', #47D7AC;
$c:	'PMS 3395 C', #00C389;
$c:	'PMS 3405 C', #00AF66;
$c:	'PMS 3415 C', #007749;
$c:	'PMS 3425 C', #006341;
$c:	'PMS 3435 C', #154734;
$c:	'PMS 344 C', #A0DAB3;
$c:	'PMS 345 C', #91D6AC;
$c:	'PMS 346 C', #71CC98;
$c:	'PMS 347 C', #009A44;
$c:	'PMS 348 C', #00843D;
$c:	'PMS 349 C', #046A38;
$c:	'PMS 350 C', #2C5234;
$c:	'PMS 351 C', #A2E4B8;
$c:	'PMS 352 C', #8FE2B0;
$c:	'PMS 353 C', #80E0A7;
$c:	'PMS 354 C', #00B140;
$c:	'PMS 355 C', #009639;
$c:	'PMS 356 C', #007A33;
$c:	'PMS 357 C', #215732;
$c:	'PMS 7478 C', #9BE3BF;
$c:	'PMS 7479 C', #26D07C;
$c:	'PMS 7480 C', #00BF6F;
$c:	'PMS 7481 C', #00B74F;
$c:	'PMS 7482 C', #009F4D;
$c:	'PMS 7483 C', #275D38;
$c:	'PMS 7484 C', #00573F;
$c:	'PMS 7730 C', #4B9560;
$c:	'PMS 7731 C', #228848;
$c:	'PMS 7732 C', #007A3E;
$c:	'PMS 7733 C', #007041;
$c:	'PMS 7734 C', #286140;
$c:	'PMS 7735 C', #36573B;
$c:	'PMS 7736 C', #395542;
$c:	'PMS 7737 C', #6BA539;
$c:	'PMS 7738 C', #48A23F;
$c:	'PMS 7739 C', #319B42;
$c:	'PMS 7740 C', #3A913F;
$c:	'PMS 7741 C', #44883E;
$c:	'PMS 7742 C', #4A773C;
$c:	'PMS 7743 C', #44693D;
$c:	'PMS 358 C', #ADDC91;
$c:	'PMS 359 C', #A1D884;
$c:	'PMS 360 C', #6CC24A;
$c:	'PMS 361 C', #43B02A;
$c:	'PMS 362 C', #509E2F;
$c:	'PMS 363 C', #4C8C2B;
$c:	'PMS 364 C', #4A7729;
$c:	'PMS 7485 C', #D0DEBB;
$c:	'PMS 7486 C', #BCE194;
$c:	'PMS 7487 C', #8EDD65;
$c:	'PMS 7488 C', #78D64B;
$c:	'PMS 7489 C', #74AA50;
$c:	'PMS 7490 C', #719949;
$c:	'PMS 7491 C', #79863C;
$c:	'PMS 365 C', #C2E189;
$c:	'PMS 366 C', #B7DD79;
$c:	'PMS 367 C', #A4D65E;
$c:	'PMS 368 C', #78BE20;
$c:	'PMS 369 C', #64A70B;
$c:	'PMS 370 C', #658D1B;
$c:	'PMS 371 C', #546223;
$c:	'PMS 372 C', #D4EB8E;
$c:	'PMS 373 C', #CDEA80;
$c:	'PMS 374 C', #C5E86C;
$c:	'PMS 375 C', #97D700;
$c:	'PMS 376 C', #84BD00;
$c:	'PMS 377 C', #7A9A01;
$c:	'PMS 378 C', #59621D;
$c:	'PMS 580 C', #C4D6A4;
$c:	'PMS 579 C', #BCD19B;
$c:	'PMS 578 C', #B7CE95;
$c:	'PMS 577 C', #A9C47F;
$c:	'PMS 576 C', #789D4A;
$c:	'PMS 575 C', #67823A;
$c:	'PMS 574 C', #4E5B31;
$c:	'PMS 5807 C', #D0D1AB;
$c:	'PMS 5797 C', #C6C89B;
$c:	'PMS 5787 C', #BABD8B;
$c:	'PMS 5777 C', #A2A569;
$c:	'PMS 5767 C', #8A8D4A;
$c:	'PMS 5757 C', #6D712E;
$c:	'PMS 5747 C', #3D441E;
$c:	'PMS 5875 C', #D2CE9E;
$c:	'PMS 5865 C', #CBC793;
$c:	'PMS 5855 C', #C0BB87;
$c:	'PMS 5845 C', #AFA96E;
$c:	'PMS 5835 C', #A09958;
$c:	'PMS 5825 C', #89813D;
$c:	'PMS 5815 C', #555025;
$c:	'PMS 5803 C', #C3C6A8;
$c:	'PMS 5793 C', #B3B995;
$c:	'PMS 5783 C', #A3AA83;
$c:	'PMS 5773 C', #899064;
$c:	'PMS 5763 C', #737B4C;
$c:	'PMS 5753 C', #5E6738;
$c:	'PMS 5743 C', #3E4827;
$c:	'PMS 7492 C', #BFCC80;
$c:	'PMS 7493 C', #BBC592;
$c:	'PMS 7494 C', #9CAF88;
$c:	'PMS 7495 C', #8F993E;
$c:	'PMS 7496 C', #76881D;
$c:	'PMS 7497 C', #7A7256;
$c:	'PMS 7498 C', #5B6236;
$c:	'PMS 7744 C', #BABC16;
$c:	'PMS 7745 C', #ABAD23;
$c:	'PMS 7746 C', #999B30;
$c:	'PMS 7747 C', #888D30;
$c:	'PMS 7748 C', #7C8034;
$c:	'PMS 7749 C', #727337;
$c:	'PMS 7750 C', #656635;
$c:	'PMS 379 C', #E2E868;
$c:	'PMS 380 C', #DBE442;
$c:	'PMS 381 C', #CEDC00;
$c:	'PMS 382 C', #C4D600;
$c:	'PMS 383 C', #A8AD00;
$c:	'PMS 384 C', #949300;
$c:	'PMS 385 C', #787121;
$c:	'PMS 386 C', #E9EC6B;
$c:	'PMS 387 C', #E3E935;
$c:	'PMS 388 C', #E0E721;
$c:	'PMS 389 C', #D0DF00;
$c:	'PMS 390 C', #B5BD00;
$c:	'PMS 391 C', #9A9500;
$c:	'PMS 392 C', #827A04;
$c:	'PMS 587 C', #E3E48D;
$c:	'PMS 586 C', #E0E27C;
$c:	'PMS 585 C', #DBDE70;
$c:	'PMS 584 C', #D2D755;
$c:	'PMS 583 C', #B7BF10;
$c:	'PMS 582 C', #8E8C13;
$c:	'PMS 581 C', #625D20;
$c:	'PMS 393 C', #F0EC74;
$c:	'PMS 394 C', #EDE939;
$c:	'PMS 395 C', #ECE81A;
$c:	'PMS 396 C', #E1E000;
$c:	'PMS 397 C', #BFB800;
$c:	'PMS 398 C', #ADA400;
$c:	'PMS 399 C', #A09200;
$c:	'PMS 3935 C', #F3EA5D;
$c:	'PMS 3945 C', #F3E500;
$c:	'PMS 3955 C', #EFDF00;
$c:	'PMS 3965 C', #EEDC00;
$c:	'PMS 3975 C', #BBA600;
$c:	'PMS 3985 C', #9A8700;
$c:	'PMS 3995 C', #685C20;
$c:	'PMS 600 C', #F1EB9C;
$c:	'PMS 601 C', #F0E991;
$c:	'PMS 602 C', #F0E87B;
$c:	'PMS 603 C', #EDE04B;
$c:	'PMS 604 C', #EADA24;
$c:	'PMS 605 C', #E1CD00;
$c:	'PMS 606 C', #CFB500;
$c:	'PMS 607 C', #EBE49A;
$c:	'PMS 608 C', #E9E186;
$c:	'PMS 609 C', #E6DE77;
$c:	'PMS 610 C', #E1D555;
$c:	'PMS 611 C', #D7C826;
$c:	'PMS 612 C', #C4B000;
$c:	'PMS 613 C', #B39B00;
$c:	'PMS 461 C', #E9DF97;
$c:	'PMS 460 C', #E4D77E;
$c:	'PMS 459 C', #DECD63;
$c:	'PMS 458 C', #D9C756;
$c:	'PMS 457 C', #B89D18;
$c:	'PMS 456 C', #A28E2A;
$c:	'PMS 455 C', #695B24;
$c:	'PMS 614 C', #DCD59A;
$c:	'PMS 615 C', #D6CF8D;
$c:	'PMS 616 C', #D0C883;
$c:	'PMS 617 C', #C0B561;
$c:	'PMS 618 C', #AC9F3C;
$c:	'PMS 619 C', #9F912A;
$c:	'PMS 620 C', #8A7B19;
$c:	'PMS 7751 C', #CAB64B;
$c:	'PMS 7752 C', #CFB023;
$c:	'PMS 7753 C', #C1A01E;
$c:	'PMS 7754 C', #A08629;
$c:	'PMS 7755 C', #897630;
$c:	'PMS 7756 C', #736635;
$c:	'PMS 7757 C', #675E33;
$c:	'PMS 7758 C', #D4C304;
$c:	'PMS 7759 C', #C4B200;
$c:	'PMS 7760 C', #91852C;
$c:	'PMS 7761 C', #747136;
$c:	'PMS 7762 C', #5D6439;
$c:	'PMS 7763 C', #585C3B;
$c:	'PMS 7764 C', #535435;
$c:	'PMS 7765 C', #BBB323;
$c:	'PMS 7766 C', #B4A91F;
$c:	'PMS 7767 C', #AA9D2E;
$c:	'PMS 7768 C', #8F7E35;
$c:	'PMS 7769 C', #716135;
$c:	'PMS 7770 C', #635939;
$c:	'PMS 7771 C', #4E4934;
$c:	'PMS 4545 C', #D5CB9F;
$c:	'PMS 4535 C', #CFC493;
$c:	'PMS 4525 C', #C5B783;
$c:	'PMS 4515 C', #B3A369;
$c:	'PMS 4505 C', #998542;
$c:	'PMS 4495 C', #8C7732;
$c:	'PMS 4485 C', #614F25;
$c:	'PMS 454 C', #CAC7A7;
$c:	'PMS 453 C', #BFBB98;
$c:	'PMS 452 C', #B0AA7E;
$c:	'PMS 451 C', #9B945F;
$c:	'PMS 450 C', #594A25;
$c:	'PMS 449 C', #524727;
$c:	'PMS 448 C', #4A412A;
$c:	'PMS 7499 C', #F1E6B2;
$c:	'PMS 7500 C', #DFD1A7;
$c:	'PMS 7501 C', #D9C89E;
$c:	'PMS 7502 C', #CEB888;
$c:	'PMS 7503 C', #A89968;
$c:	'PMS 7504 C', #94795D;
$c:	'PMS 7505 C', #816040;
$c:	'PMS 468 C', #DDCBA4;
$c:	'PMS 467 C', #D3BC8D;
$c:	'PMS 466 C', #C6AA76;
$c:	'PMS 465 C', #B9975B;
$c:	'PMS 464 C', #8B5B29;
$c:	'PMS 463 C', #744F28;
$c:	'PMS 462 C', #5C462B;
$c:	'PMS 7506 C', #EFDBB2;
$c:	'PMS 7507 C', #FCD299;
$c:	'PMS 7508 C', #E1B87F;
$c:	'PMS 7509 C', #D6A461;
$c:	'PMS 7510 C', #C6893F;
$c:	'PMS 7511 C', #B77729;
$c:	'PMS 7512 C', #A6631B;
$c:	'PMS 719 C', #EDC8A3;
$c:	'PMS 720 C', #E7B78A;
$c:	'PMS 721 C', #DDA46F;
$c:	'PMS 722 C', #C88242;
$c:	'PMS 723 C', #B36924;
$c:	'PMS 724 C', #934D11;
$c:	'PMS 725 C', #7D3F16;
$c:	'PMS 475 C', #F3CFB3;
$c:	'PMS 474 C', #F1C6A7;
$c:	'PMS 473 C', #F0BF9B;
$c:	'PMS 472 C', #E59E6D;
$c:	'PMS 471 C', #B86125;
$c:	'PMS 470 C', #A45A2A;
$c:	'PMS 469 C', #693F23;
$c:	'PMS 726 C', #E0C09F;
$c:	'PMS 727 C', #D9B48F;
$c:	'PMS 728 C', #CDA077;
$c:	'PMS 729 C', #B58150;
$c:	'PMS 730 C', #9E652E;
$c:	'PMS 731 C', #774212;
$c:	'PMS 732 C', #623412;
$c:	'PMS 4685 C', #E0C6AD;
$c:	'PMS 4675 C', #DCBFA6;
$c:	'PMS 4665 C', #CDA788;
$c:	'PMS 4655 C', #BF9474;
$c:	'PMS 4645 C', #AD7C59;
$c:	'PMS 4635 C', #946037;
$c:	'PMS 4625 C', #4F2C1D;
$c:	'PMS 7513 C', #E1B7A7;
$c:	'PMS 7514 C', #D5A286;
$c:	'PMS 7515 C', #C58B68;
$c:	'PMS 7516 C', #99552B;
$c:	'PMS 7517 C', #85431E;
$c:	'PMS 7518 C', #6D4F47;
$c:	'PMS 7519 C', #5E4B3C;
$c:	'PMS 4755 C', #D7C4B7;
$c:	'PMS 4745 C', #CDB5A7;
$c:	'PMS 4735 C', #C0A392;
$c:	'PMS 4725 C', #AE8A79;
$c:	'PMS 4715 C', #956C58;
$c:	'PMS 4705 C', #7C4D3A;
$c:	'PMS 4695 C', #5B3427;
$c:	'PMS 482 C', #DBC8B6;
$c:	'PMS 481 C', #D3BBA8;
$c:	'PMS 480 C', #C6A992;
$c:	'PMS 479 C', #AA8066;
$c:	'PMS 478 C', #703F2A;
$c:	'PMS 477 C', #623B2A;
$c:	'PMS 476 C', #4E3629;
$c:	'PMS 7527 C', #D6D2C4;
$c:	'PMS 7528 C', #C5B9AC;
$c:	'PMS 7529 C', #B7A99A;
$c:	'PMS 7530 C', #A39382;
$c:	'PMS 7531 C', #7A6855;
$c:	'PMS 7532 C', #63513D;
$c:	'PMS 7533 C', #473729;
$c:	'PMS 7534 C', #D1CCBD;
$c:	'PMS 7535 C', #B7B09C;
$c:	'PMS 7536 C', #A69F88;
$c:	'PMS 7537 C', #A7ACA2;
$c:	'PMS 7538 C', #949A90;
$c:	'PMS 7539 C', #8E9089;
$c:	'PMS 7540 C', #4B4F54;
$c:	'PMS 427 C', #D0D3D4;
$c:	'PMS 428 C', #C1C6C8;
$c:	'PMS 429 C', #A2AAAD;
$c:	'PMS 430 C', #7C878E;
$c:	'PMS 431 C', #5B6770;
$c:	'PMS 432 C', #333F48;
$c:	'PMS 433 C', #1D252D;
$c:	'PMS 420 C', #C7C9C7;
$c:	'PMS 421 C', #B2B4B2;
$c:	'PMS 422 C', #9EA2A2;
$c:	'PMS 423 C', #898D8D;
$c:	'PMS 424 C', #707372;
$c:	'PMS 425 C', #54585A;
$c:	'PMS 426 C', #25282A;
$c:	'PMS 441 C', #BEC6C4;
$c:	'PMS 442 C', #A2ACAB;
$c:	'PMS 443 C', #919D9D;
$c:	'PMS 444 C', #717C7D;
$c:	'PMS 445 C', #505759;
$c:	'PMS 446 C', #3F4444;
$c:	'PMS 447 C', #373A36;
$c:	'PMS 413 C', #BABBB1;
$c:	'PMS 414 C', #A8A99E;
$c:	'PMS 415 C', #919388;
$c:	'PMS 416 C', #7E7F74;
$c:	'PMS 417 C', #65665C;
$c:	'PMS 418 C', #51534A;
$c:	'PMS 419 C', #212322;
$c:	'PMS 400 C', #C4BFB6;
$c:	'PMS 401 C', #AFA9A0;
$c:	'PMS 402 C', #9D968D;
$c:	'PMS 403 C', #8C857B;
$c:	'PMS 404 C', #776E64;
$c:	'PMS 405 C', #696158;
$c:	'PMS 406 C', #C4BCB7;
$c:	'PMS 407 C', #B2A8A2;
$c:	'PMS 408 C', #978C87;
$c:	'PMS 409 C', #857874;
$c:	'PMS 410 C', #746661;
$c:	'PMS 411 C', #5E514D;
$c:	'PMS 412 C', #382F2D;
$c:	'PMS 434 C', #D0C4C5;
$c:	'PMS 435 C', #C1B2B6;
$c:	'PMS 436 C', #AB989D;
$c:	'PMS 437 C', #7B6469;
$c:	'PMS 438 C', #584446;
$c:	'PMS 439 C', #453536;
$c:	'PMS 440 C', #382E2C;
$c:	'PMS Warm Gray 1 C', #D7D2CB;
$c:	'PMS Warm Gray 2 C', #CBC4BC;
$c:	'PMS Warm Gray 3 C', #BFB8AF;
$c:	'PMS Warm Gray 4 C', #B6ADA5;
$c:	'PMS Warm Gray 5 C', #ACA39A;
$c:	'PMS Warm Gray 6 C', #A59C94;
$c:	'PMS Warm Gray 7 C', #968C83;
$c:	'PMS Warm Gray 8 C', #8C8279;
$c:	'PMS Warm Gray 9 C', #83786F;
$c:	'PMS Warm Gray 10 C', #796E65;
$c:	'PMS Warm Gray 11 C', #6E6259;
$c:	'PMS Cool Gray 1 C', #D9D9D6;
$c:	'PMS Cool Gray 2 C', #D0D0CE;
$c:	'PMS Cool Gray 3 C', #C8C9C7;
$c:	'PMS Cool Gray 4 C', #BBBCBC;
$c:	'PMS Cool Gray 5 C', #B1B3B3;
$c:	'PMS Cool Gray 6 C', #A7A8AA;
$c:	'PMS Cool Gray 7 C', #97999B;
$c:	'PMS Cool Gray 8 C', #888B8D;
$c:	'PMS Cool Gray 9 C', #75787B;
$c:	'PMS Cool Gray 10 C', #63666A;
$c:	'PMS Cool Gray 11 C', #53565A;
$c:	'PMS Black 2 C', #332F21;
$c:	'PMS Black 3 C', #212721;
$c:	'PMS Black 4 C', #31261D;
$c:	'PMS Black 5 C', #3E2B2E;
$c:	'PMS Black 6 C', #101820;
$c:	'PMS Black 7 C', #3D3935;

