$c: 'rgb(255, 255, 255)', rgb(255, 255, 255);
$c: 'rgb(0, 0, 0)', rgb(0, 0, 0);
$c: 'rgb(4, 0, 3)', rgb(4, 0, 3);
$c: 'rgb(9, 0, 7)', rgb(9, 0, 7);
$c: 'rgb(13, 0, 10)', rgb(13, 0, 10);
$c: 'rgb(18, 0, 14)', rgb(18, 0, 14);
$c: 'rgb(22, 0, 19)', rgb(22, 0, 19);
$c: 'rgb(27, 0, 23)', rgb(27, 0, 23);
$c: 'rgb(31, 0, 28)', rgb(31, 0, 28);
$c: 'rgb(36, 0, 32)', rgb(36, 0, 32);
$c: 'rgb(40, 0, 38)', rgb(40, 0, 38);
$c: 'rgb(45, 0, 43)', rgb(45, 0, 43);
$c: 'rgb(50, 0, 48)', rgb(50, 0, 48);
$c: 'rgb(58, 0, 59)', rgb(58, 0, 59);
$c: 'rgb(64, 0, 68)', rgb(64, 0, 68);
$c: 'rgb(68, 0, 72)', rgb(68, 0, 72);
$c: 'rgb(69, 0, 77)', rgb(69, 0, 77);
$c: 'rgb(72, 0, 81)', rgb(72, 0, 81);
$c: 'rgb(74, 0, 86)', rgb(74, 0, 86);
$c: 'rgb(77, 0, 91)', rgb(77, 0, 91);
$c: 'rgb(79, 0, 95)', rgb(79, 0, 95);
$c: 'rgb(80, 0, 100)', rgb(80, 0, 100);
$c: 'rgb(82, 0, 104)', rgb(82, 0, 104);
$c: 'rgb(83, 0, 109)', rgb(83, 0, 109);
$c: 'rgb(84, 0, 118)', rgb(84, 0, 118);
$c: 'rgb(86, 0, 122)', rgb(86, 0, 122);
$c: 'rgb(88, 0, 132)', rgb(88, 0, 132);
$c: 'rgb(86, 0, 136)', rgb(86, 0, 136);
$c: 'rgb(87, 0, 141)', rgb(87, 0, 141);
$c: 'rgb(87, 0, 145)', rgb(87, 0, 145);
$c: 'rgb(87, 0, 150)', rgb(87, 0, 150);
$c: 'rgb(85, 0, 154)', rgb(85, 0, 154);
$c: 'rgb(84, 0, 159)', rgb(84, 0, 159);
$c: 'rgb(84, 0, 163)', rgb(84, 0, 163);
$c: 'rgb(84, 0, 168)', rgb(84, 0, 168);
$c: 'rgb(79, 0, 177)', rgb(79, 0, 177);
$c: 'rgb(78, 0, 182)', rgb(78, 0, 182);
$c: 'rgb(77, 0, 186)', rgb(77, 0, 186);
$c: 'rgb(76, 0, 191)', rgb(76, 0, 191);
$c: 'rgb(70, 0, 200)', rgb(70, 0, 200);
$c: 'rgb(68, 0, 204)', rgb(68, 0, 204);
$c: 'rgb(66, 0, 209)', rgb(66, 0, 209);
$c: 'rgb(60, 0, 214)', rgb(60, 0, 214);
$c: 'rgb(58, 0, 218)', rgb(58, 0, 218);
$c: 'rgb(55, 0, 223)', rgb(55, 0, 223);
$c: 'rgb(46, 0, 232)', rgb(46, 0, 232);
$c: 'rgb(43, 0, 236)', rgb(43, 0, 236);
$c: 'rgb(40, 0, 241)', rgb(40, 0, 241);
$c: 'rgb(36, 0, 245)', rgb(36, 0, 245);
$c: 'rgb(33, 0, 250)', rgb(33, 0, 250);
$c: 'rgb(25, 0, 255)', rgb(25, 0, 255);
$c: 'rgb(16, 0, 255)', rgb(16, 0, 255);
$c: 'rgb(12, 0, 255)', rgb(12, 0, 255);
$c: 'rgb(4, 0, 255)', rgb(4, 0, 255);
$c: 'rgb(0, 0, 255)', rgb(0, 0, 255);
$c: 'rgb(0, 4, 255)', rgb(0, 4, 255);
$c: 'rgb(0, 16, 255)', rgb(0, 16, 255);
$c: 'rgb(0, 21, 255)', rgb(0, 21, 255);
$c: 'rgb(0, 25, 255)', rgb(0, 25, 255);
$c: 'rgb(0, 29, 255)', rgb(0, 29, 255);
$c: 'rgb(0, 38, 255)', rgb(0, 38, 255);
$c: 'rgb(0, 42, 255)', rgb(0, 42, 255);
$c: 'rgb(0, 46, 255)', rgb(0, 46, 255);
$c: 'rgb(0, 51, 255)', rgb(0, 51, 255);
$c: 'rgb(0, 63, 255)', rgb(0, 63, 255);
$c: 'rgb(0, 67, 255)', rgb(0, 67, 255);
$c: 'rgb(0, 72, 255)', rgb(0, 72, 255);
$c: 'rgb(0, 84, 255)', rgb(0, 84, 255);
$c: 'rgb(0, 89, 255)', rgb(0, 89, 255);
$c: 'rgb(0, 93, 255)', rgb(0, 93, 255);
$c: 'rgb(0, 97, 255)', rgb(0, 97, 255);
$c: 'rgb(0, 106, 255)', rgb(0, 106, 255);
$c: 'rgb(0, 110, 255)', rgb(0, 110, 255);
$c: 'rgb(0, 114, 255)', rgb(0, 114, 255);
$c: 'rgb(0, 119, 255)', rgb(0, 119, 255);
$c: 'rgb(0, 127, 255)', rgb(0, 127, 255);
$c: 'rgb(0, 135, 255)', rgb(0, 135, 255);
$c: 'rgb(0, 140, 255)', rgb(0, 140, 255);
$c: 'rgb(0, 152, 255)', rgb(0, 152, 255);
$c: 'rgb(0, 157, 255)', rgb(0, 157, 255);
$c: 'rgb(0, 161, 255)', rgb(0, 161, 255);
$c: 'rgb(0, 165, 255)', rgb(0, 165, 255);
$c: 'rgb(0, 174, 255)', rgb(0, 174, 255);
$c: 'rgb(0, 178, 255)', rgb(0, 178, 255);
$c: 'rgb(0, 182, 255)', rgb(0, 182, 255);
$c: 'rgb(0, 187, 255)', rgb(0, 187, 255);
$c: 'rgb(0, 195, 255)', rgb(0, 195, 255);
$c: 'rgb(0, 199, 255)', rgb(0, 199, 255);
$c: 'rgb(0, 216, 255)', rgb(0, 216, 255);
$c: 'rgb(0, 220, 255)', rgb(0, 220, 255);
$c: 'rgb(0, 225, 255)', rgb(0, 225, 255);
$c: 'rgb(0, 229, 255)', rgb(0, 229, 255);
$c: 'rgb(0, 233, 255)', rgb(0, 233, 255);
$c: 'rgb(0, 242, 255)', rgb(0, 242, 255);
$c: 'rgb(0, 246, 255)', rgb(0, 246, 255);
$c: 'rgb(0, 250, 255)', rgb(0, 250, 255);
$c: 'rgb(0, 255, 255)', rgb(0, 255, 255);
$c: 'rgb(0, 255, 246)', rgb(0, 255, 246);
$c: 'rgb(0, 255, 242)', rgb(0, 255, 242);
$c: 'rgb(0, 255, 238)', rgb(0, 255, 238);
$c: 'rgb(0, 255, 225)', rgb(0, 255, 225);
$c: 'rgb(0, 255, 216)', rgb(0, 255, 216);
$c: 'rgb(0, 255, 212)', rgb(0, 255, 212);
$c: 'rgb(0, 255, 203)', rgb(0, 255, 203);
$c: 'rgb(0, 255, 199)', rgb(0, 255, 199);
$c: 'rgb(0, 255, 195)', rgb(0, 255, 195);
$c: 'rgb(0, 255, 191)', rgb(0, 255, 191);
$c: 'rgb(0, 255, 187)', rgb(0, 255, 187);
$c: 'rgb(0, 255, 178)', rgb(0, 255, 178);
$c: 'rgb(0, 255, 174)', rgb(0, 255, 174);
$c: 'rgb(0, 255, 170)', rgb(0, 255, 170);
$c: 'rgb(0, 255, 157)', rgb(0, 255, 157);
$c: 'rgb(0, 255, 152)', rgb(0, 255, 152);
$c: 'rgb(0, 255, 144)', rgb(0, 255, 144);
$c: 'rgb(0, 255, 135)', rgb(0, 255, 135);
$c: 'rgb(0, 255, 131)', rgb(0, 255, 131);
$c: 'rgb(0, 255, 127)', rgb(0, 255, 127);
$c: 'rgb(0, 255, 123)', rgb(0, 255, 123);
$c: 'rgb(0, 255, 114)', rgb(0, 255, 114);
$c: 'rgb(0, 255, 110)', rgb(0, 255, 110);
$c: 'rgb(0, 255, 106)', rgb(0, 255, 106);
$c: 'rgb(0, 255, 102)', rgb(0, 255, 102);
$c: 'rgb(0, 255, 89)', rgb(0, 255, 89);
$c: 'rgb(0, 255, 84)', rgb(0, 255, 84);
$c: 'rgb(0, 255, 80)', rgb(0, 255, 80);
$c: 'rgb(0, 255, 76)', rgb(0, 255, 76);
$c: 'rgb(0, 255, 63)', rgb(0, 255, 63);
$c: 'rgb(0, 255, 59)', rgb(0, 255, 59);
$c: 'rgb(0, 255, 55)', rgb(0, 255, 55);
$c: 'rgb(0, 255, 46)', rgb(0, 255, 46);
$c: 'rgb(0, 255, 42)', rgb(0, 255, 42);
$c: 'rgb(0, 255, 38)', rgb(0, 255, 38);
$c: 'rgb(0, 255, 25)', rgb(0, 255, 25);
$c: 'rgb(0, 255, 21)', rgb(0, 255, 21);
$c: 'rgb(0, 255, 16)', rgb(0, 255, 16);
$c: 'rgb(0, 255, 12)', rgb(0, 255, 12);
$c: 'rgb(0, 255, 8)', rgb(0, 255, 8);
$c: 'rgb(0, 255, 0)', rgb(0, 255, 0);
$c: 'rgb(8, 255, 0)', rgb(8, 255, 0);
$c: 'rgb(12, 255, 0)', rgb(12, 255, 0);
$c: 'rgb(21, 255, 0)', rgb(21, 255, 0);
$c: 'rgb(25, 255, 0)', rgb(25, 255, 0);
$c: 'rgb(29, 255, 0)', rgb(29, 255, 0);
$c: 'rgb(42, 255, 0)', rgb(42, 255, 0);
$c: 'rgb(46, 255, 0)', rgb(46, 255, 0);
$c: 'rgb(51, 255, 0)', rgb(51, 255, 0);
$c: 'rgb(55, 255, 0)', rgb(55, 255, 0);
$c: 'rgb(63, 255, 0)', rgb(63, 255, 0);
$c: 'rgb(67, 255, 0)', rgb(67, 255, 0);
$c: 'rgb(72, 255, 0)', rgb(72, 255, 0);
$c: 'rgb(76, 255, 0)', rgb(76, 255, 0);
$c: 'rgb(89, 255, 0)', rgb(89, 255, 0);
$c: 'rgb(93, 255, 0)', rgb(93, 255, 0);
$c: 'rgb(97, 255, 0)', rgb(97, 255, 0);
$c: 'rgb(110, 255, 0)', rgb(110, 255, 0);
$c: 'rgb(114, 255, 0)', rgb(114, 255, 0);
$c: 'rgb(119, 255, 0)', rgb(119, 255, 0);
$c: 'rgb(123, 255, 0)', rgb(123, 255, 0);
$c: 'rgb(131, 255, 0)', rgb(131, 255, 0);
$c: 'rgb(135, 255, 0)', rgb(135, 255, 0);
$c: 'rgb(140, 255, 0)', rgb(140, 255, 0);
$c: 'rgb(144, 255, 0)', rgb(144, 255, 0);
$c: 'rgb(153, 255, 0)', rgb(153, 255, 0);
$c: 'rgb(161, 255, 0)', rgb(161, 255, 0);
$c: 'rgb(165, 255, 0)', rgb(165, 255, 0);
$c: 'rgb(178, 255, 0)', rgb(178, 255, 0);
$c: 'rgb(182, 255, 0)', rgb(182, 255, 0);
$c: 'rgb(187, 255, 0)', rgb(187, 255, 0);
$c: 'rgb(191, 255, 0)', rgb(191, 255, 0);
$c: 'rgb(199, 255, 0)', rgb(199, 255, 0);
$c: 'rgb(203, 255, 0)', rgb(203, 255, 0);
$c: 'rgb(208, 255, 0)', rgb(208, 255, 0);
$c: 'rgb(212, 255, 0)', rgb(212, 255, 0);
$c: 'rgb(221, 255, 0)', rgb(221, 255, 0);
$c: 'rgb(225, 255, 0)', rgb(225, 255, 0);
$c: 'rgb(242, 255, 0)', rgb(242, 255, 0);
$c: 'rgb(246, 255, 0)', rgb(246, 255, 0);
$c: 'rgb(250, 255, 0)', rgb(250, 255, 0);
$c: 'rgb(255, 255, 0)', rgb(255, 255, 0);
$c: 'rgb(255, 250, 0)', rgb(255, 250, 0);
$c: 'rgb(255, 242, 0)', rgb(255, 242, 0);
$c: 'rgb(255, 238, 0)', rgb(255, 238, 0);
$c: 'rgb(255, 233, 0)', rgb(255, 233, 0);
$c: 'rgb(255, 229, 0)', rgb(255, 229, 0);
$c: 'rgb(255, 221, 0)', rgb(255, 221, 0);
$c: 'rgb(255, 216, 0)', rgb(255, 216, 0);
$c: 'rgb(255, 212, 0)', rgb(255, 212, 0);
$c: 'rgb(255, 199, 0)', rgb(255, 199, 0);
$c: 'rgb(255, 191, 0)', rgb(255, 191, 0);
$c: 'rgb(255, 187, 0)', rgb(255, 187, 0);
$c: 'rgb(255, 178, 0)', rgb(255, 178, 0);
$c: 'rgb(255, 174, 0)', rgb(255, 174, 0);
$c: 'rgb(255, 170, 0)', rgb(255, 170, 0);
$c: 'rgb(255, 165, 0)', rgb(255, 165, 0);
$c: 'rgb(255, 161, 0)', rgb(255, 161, 0);
$c: 'rgb(255, 153, 0)', rgb(255, 153, 0);
$c: 'rgb(255, 148, 0)', rgb(255, 148, 0);
$c: 'rgb(255, 144, 0)', rgb(255, 144, 0);
$c: 'rgb(255, 131, 0)', rgb(255, 131, 0);
$c: 'rgb(255, 127, 0)', rgb(255, 127, 0);
$c: 'rgb(255, 119, 0)', rgb(255, 119, 0);
$c: 'rgb(255, 110, 0)', rgb(255, 110, 0);
$c: 'rgb(255, 106, 0)', rgb(255, 106, 0);
$c: 'rgb(255, 102, 0)', rgb(255, 102, 0);
$c: 'rgb(255, 97, 0)', rgb(255, 97, 0);
$c: 'rgb(255, 89, 0)', rgb(255, 89, 0);
$c: 'rgb(255, 85, 0)', rgb(255, 85, 0);
$c: 'rgb(255, 80, 0)', rgb(255, 80, 0);
$c: 'rgb(255, 76, 0)', rgb(255, 76, 0);
$c: 'rgb(255, 63, 0)', rgb(255, 63, 0);
$c: 'rgb(255, 59, 0)', rgb(255, 59, 0);
$c: 'rgb(255, 55, 0)', rgb(255, 55, 0);
$c: 'rgb(255, 51, 0)', rgb(255, 51, 0);
$c: 'rgb(255, 38, 0)', rgb(255, 38, 0);
$c: 'rgb(255, 34, 0)', rgb(255, 34, 0);
$c: 'rgb(255, 29, 0)', rgb(255, 29, 0);
$c: 'rgb(255, 21, 0)', rgb(255, 21, 0);
$c: 'rgb(255, 17, 0)', rgb(255, 17, 0);
$c: 'rgb(255, 12, 0)', rgb(255, 12, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);
$c: 'rgb(255, 0, 0)', rgb(255, 0, 0);