$body_color: var(--vscode-editor-foreground);

body{
	max-width: 1024px;
	margin: 0 auto;
	padding: 20px;
	font-size: 15px;
	line-height: 21px;
}

ul{
	margin: 0;
	padding: 0 0 0 16px;

	> li{
		margin-bottom: 10px;
	}
}

h1{
	position: relative;
	margin-left: -2px;
	font-size: 24px;
	line-height: 50px;
	padding-left: 50px;
	background-image: url('icon.svg');
	background-position: 0 center;
	background-size: 40px;
	background-repeat: no-repeat;
}

h2{
	display: block;
	font-size: 18px;
	line-height: 21px;
	margin-top: 30px;
	border-bottom: 1px solid $body_color;
}

h3{
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

img{
	display: block;
	margin: 10px 0;
}

.msg-important{
	display: block;
	padding: 10px;
	font-size: 18px;
	line-height: 24px;
	background-color: red;
	color: #fff;
	font-weight: bold;
	font-style: normal;
}

.div-toggle{
	position: relative;
	padding: 10px 0;
	cursor: pointer;
	user-select: none;
	border-bottom: 1px solid $body_color;

	&:after{
		content: '';
		position: absolute;
		display: block;
		top: 12px;
		right: 8px;
		width: 8px;
		height: 8px;
		border-right: 2px solid $body_color;
		border-top: 2px solid $body_color;
		transform: rotate(135deg);
		cursor: pointer;
	}

	&:nth-of-type(1){
		margin-top: 40px;
		border-top: 1px solid $body_color;
	}

	*{
		pointer-events: none; // siehe js: sonst funktioniert e.target bei .div-toggle nicht!
	}

	> div{
		display: none;
		padding: 20px 0 20px 30px;
		font-size: 15px;
		line-height: 20px;
	}

	&.show{
		> div{
			display: block !important;
		}

		&:after{
			transform: rotate(315deg);
		}

	}

	h1{
		font-size: 24px;
		line-height: 30px;
	}

	h3{
		font-size: 16px;
		line-height: 20px;
		font-weight: bold;
	}

	ol{
		margin: 0;
		padding: 0 0 0 20px;
	}

	code{
		display: block;
		margin: 4px 0 0 0;
		padding: 4px;
		border: 1px dashed $body_color;
		pointer-events: all !important;
		user-select: all !important;
		cursor: text !important;
	}

}

.li-sep{
	margin-top: 16px;
	padding-top: 16px;
	border-top: 1px dashed $body_color;
}